section.subsection.catalog
    .catalog__header
        h2.title Товары
        .button-group
            .button-group__item
                select.select.select_bright.turnintodropdown
                    option(hidden="" disabled="" selected="" style="display:none;") Сортировать
                    option 1
                    option 2
            .button-group__item
                .view
                    .view__item
                        label.link-full(for="view-grid3")
                        input.hidden.view__activation.view-grid(type="radio" name="view3" id="view-grid3" checked="")
                        i.icon.icon-view-grid
                        i.icon.icon-view-grid-active.icon_active
                    .view__item
                        label.link-full(for="view-list3")
                        input.hidden.view__activation.view-list(type="radio" name="view3" id="view-list3")
                        i.icon.icon-view-list
                        i.icon.icon-view-list-active.icon_active
    .catalog__list
        .grid

            .product-preview.section_bg-light
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product4.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation9")
                                label.link-full(for="like-activation9")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Зимние термоботинки Timberland Blue A 2030-1
                    .product-preview__row
                        .product-preview__subtitle Рейтинг продавца
                        .product-preview__rating
                            .rating.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                    .product-preview__row
                        .product-preview__price #[b 12 800] руб.
                        .button
                            label.link-full(for="popup__activation")
                            .button__name Купить
                            .button__icon
                                i.icon.icon-basket-gray
            .product-preview.section_bg-light
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product5.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation10")
                                label.link-full(for="like-activation10")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Зимние термоботинки Timberland Blue A 2030-1
                    .product-preview__row
                        .product-preview__subtitle Рейтинг продавца
                        .product-preview__rating
                            .rating.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                    .product-preview__row
                        .product-preview__price #[b 12 800] руб.
                        .button
                            label.link-full(for="popup__activation")
                            .button__name Купить
                            .button__icon
                                i.icon.icon-basket-gray
            .product-preview.section_bg-light
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product6.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation11")
                                label.link-full(for="like-activation11")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Зимние термоботинки Timberland Blue A 2030-1
                    .product-preview__row
                        .product-preview__subtitle Рейтинг продавца
                        .product-preview__rating
                            .rating.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                    .product-preview__row
                        .product-preview__price #[b 12 800] руб.
                        .button
                            label.link-full(for="popup__activation")
                            .button__name Купить
                            .button__icon
                                i.icon.icon-basket-gray
    .catalog__footer
        include ../pagenation/pagenation
    .catalog__sidebar
        include ../sidebar/sidebar3