section.subsection.catalog
    .catalog__header
        h2.title Конкурсы
        .button-group
            .button-group__item
                select.select.select_bright.turnintodropdown
                    option(hidden="" disabled="" selected="" style="display:none;") Сортировать
                    option 1
                    option 2
            .button-group__item
                .view
                    .view__item
                        label.link-full(for="view-grid2")
                        input.hidden.view__activation.view-grid(type="radio" name="view2" id="view-grid2" checked="")
                        i.icon.icon-view-grid
                        i.icon.icon-view-grid-active.icon_active
                    .view__item
                        label.link-full(for="view-list2")
                        input.hidden.view__activation.view-list(type="radio" name="view2" id="view-list2")
                        i.icon.icon-view-list
                        i.icon.icon-view-list-active.icon_active
    .catalog__list
        .grid
            .product-preview.section_bg-light
                a.link-full(href="" title="")
                .product-preview__photo-container.product-preview__photo-container_large
                    img.product-preview__photo(src="../../img/products/product4.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                            .label до 01.08
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation5")
                                label.link-full(for="like-activation5")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                    .product-preview__bottom
                        a.button.button_middle(href="" title="") Участвовать
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Вилла «Skazka House», 1 300 м#[sup 2]
                    .product-preview__row
                        .product-preview__price #[b 12 250 800] руб.
                        .product-preview__bottom.product-preview__bottom_grid
                            a.button.button_middle(href="" title="") Участвовать
            .product-preview.section_bg-light
                a.link-full(href="" title="")
                .product-preview__photo-container.product-preview__photo-container_large
                    img.product-preview__photo(src="../../img/products/product5.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                            .label до 01.08
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation6")
                                label.link-full(for="like-activation6")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                    .product-preview__bottom
                        a.button.button_middle(href="" title="") Участвовать
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Вилла «Skazka House», 1 300 м#[sup 2]
                    .product-preview__row
                        .product-preview__price #[b 12 250 800] руб.
                        .product-preview__bottom.product-preview__bottom_grid
                            a.button.button_middle(href="" title="") Участвовать
            .product-preview.section_bg-light
                a.link-full(href="" title="")
                .product-preview__photo-container.product-preview__photo-container_large
                    img.product-preview__photo(src="../../img/products/product6.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                            .label до 01.08
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation7")
                                label.link-full(for="like-activation7")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                    .product-preview__bottom
                        a.button.button_middle(href="" title="") Участвовать
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Вилла «Skazka House», 1 300 м#[sup 2]
                    .product-preview__row
                        .product-preview__price #[b 12 250 800] руб.
                        .product-preview__bottom.product-preview__bottom_grid
                            a.button.button_middle(href="" title="") Участвовать
    .catalog__footer
        include ../pagenation/pagenation
    .catalog__sidebar
        include ../sidebar/sidebar2