.delete
  +flex(row wrap, center, center)
  padding: 8px
  position: relative
  z-index: 60
  background-color: white
  box-shadow: 0px 0px 12px 0px rgba(80, 79, 79, 0.2)
  &:hover
    .icon
      display: none
    .icon_active
      display: inline-block