.header-top
  +main-grid()
  grid-column: 1 / 4
  padding: 1.5rem 0
  &__container
    +flex(row wrap, space-between, center)
  &__lang-item
    text-transform: uppercase
    &:after
      content: ""
      border-right: 1px solid #dbdcde
      margin: 0 1.3rem
    &:last-of-type
      &:after
        content: none
    &:hover
      color: $color-active
    &_active
      color: $color-active
      cursor: default