doctype html
html.common
    head
        title
            block title
        include head/head
        block head
    body.common__body
        .app
            include header/header
            main.main
                block content
            include footer/footer
            include end/end
            block end