.sidebar
    .sidebar__block.sidebar__block_bg
        .sidebar__item
            a(href="" title="") Избранное
        .sidebar__item
            a(href="#products" title="") Мои товары
        .sidebar__item
            a(href="#competitions" title="") Мои конкурсы
        .sidebar__item
            a(href="#auctions" title="") Мои аукционы
        .sidebar__item
            a(href="" title="") Мои запросы
        .sidebar__item
            a(href="" title="") Профиль