input.popup__activation(type="checkbox" id="popup__activation")
.popup
    label.link-full(for="popup__activation")
    .popup__content
        .popup__close
            i.icon.icon-delete
            label.link-full(for="popup__activation")
        form.form
            .form__inner
                .form__row
                    .input-group
                        .input-group__label
                            label Оценка
                        .input-group__input
                            .rating-input
                                input.rating-input__activation(type="radio" name="rating" id="rating1")
                                input.rating-input__activation(type="radio" name="rating" id="rating2")
                                input.rating-input__activation(type="radio" name="rating" id="rating3")
                                input.rating-input__activation(type="radio" name="rating" id="rating4")
                                input.rating-input__activation(type="radio" name="rating" id="rating5")
                                label.rating-input__star.rating-input__star1.rating-input__star2.rating-input__star3.rating-input__star4(for="rating1")
                                label.rating-input__star.rating-input__star2.rating-input__star3.rating-input__star4(for="rating2")
                                label.rating-input__star.rating-input__star3.rating-input__star4(for="rating3")
                                label.rating-input__star.rating-input__star4(for="rating4")
                                label.rating-input__star(for="rating5")
                .form__row
                    .input-group
                        .input-group__label
                            label Текст отзыва
                        .input-group__input
                            textarea.tetxtarea
                .form__row
                    .form__button
                        a.button.button_middle(href="" title="") Оставить отзыв