footer.footer
    .inner
        .footer__container
            .footer__section.footer__section_mobile
                .footer__title Новости от TOOSHOP
                .footer__input
                    .input__whith-arrow
                        input.input(type="email" placeholder="Введите ваш Email")
                    .footer__input-footnote Получайте обновления магазина
                .footer__social
                    .social
                        a.social__link(href="" title="")
                            i.icon.icon-vk-gray
                            i.icon.icon-vk-active.icon_active
                        a.social__link(href="" title="")
                            i.icon.icon-face-gray
                            i.icon.icon-face-active.icon_active
                        a.social__link(href="" title="")
                            i.icon.icon-insta-gray
                            i.icon.icon-insta-active.icon_active
            .footer__section
                .footer__title Как покупать
                nav.footer__menu
                    a.footer__menu-item(href="" title="") Гид покупателям
                    a.footer__menu-item(href="" title="") Зарегистрироваться
                    a.footer__menu-item(href="" title="") Защита Покупателя
                    a.footer__menu-item(href="" title="") Карта TOOSHOP
            .footer__section
                .footer__title Сервисный центр
                nav.footer__menu
                    a.footer__menu-item(href="" title="") Служба поддержки
                    a.footer__menu-item(href="" title="") Партнерская программа
                    a.footer__menu-item(href="" title="") Договор оказания услуг
