.input
  border: none
  border-bottom: 1px solid $gray
  padding-bottom: 15px
  width: 100%
  background: none
  color: $gray
  &_file
    border-bottom: none
  &_readonly
    background-color: $white
    padding: 5px 5px 5px 10px
    margin-right: 5px
    font-size: 1.8rem
    width: initial
    border: none
    color: $text
  &_interval
    background-color: $bg
    border: none
    height: 23px
    padding: 0 0 0 8px
    font-size: 10px
  &__whith-arrow
    +flex(row nowrap, space-between, center)
    position: relative
    &:after
      content: ''
      display: block
      width: 5px
      height: 5px
      border: 1px solid $gray
      border-bottom: none
      border-left: none
      transform: rotate(45deg)
      margin-left: -10px
      margin-bottom: 15px

.input::-webkit-input-placeholder
  color: $gray
.input:-moz-placeholder
  color: $gray
.input::-moz-placeholder
  color: $gray
.input:-ms-input-placeholder
  color: $gray