.header-main
  +main-grid()
  padding: 2.5rem 0
  grid-column: 1 / 4
  background-color: white
  &__logo
    +flex(row nowrap, flex-start, stretch)
    position: relative
  &__product
    +flex(row nowrap, flex-start, center)
  &__product-button
    +flex(row nowrap, center, center)
    padding: 5px 0
    position: relative
    &:after
      content: ""
      border-right: 1px solid $border
      margin: 0 2rem
      display: block
      height: 3rem
    &:last-of-type
      &:after
        content: none
  &__product-count
    +flex(row nowrap, center, center)
    +font(10px, 400, $white)
    font-size: 10px
    position: absolute
    right: -5px
    top: -5px
    background-color: $color-active
    border-radius: 100%
    min-width: 1.5rem
    height: 1.5rem
    &_inverse
      color: $color-active
      background-color: white
  &__product-button-name
    margin-left: 1.5rem
  &__logo-img
    width: 5.5rem
    height: 5.5rem
    object-fit: contain
    margin-right: 2rem
  &__logo-caption
    +flex(column nowrap, space-between, flex-start)
  &__logo-subtitle
    font-weight: 300
  &__logo-title
    font-size: 3rem
    line-height: 1
    font-family: "OpenSans"
  &__authorization
    +flex(row wrap, flex-end, center)
    &_user
      display: none
  &__authorization-item
    border-bottom: 1px dashed transparent
    &:hover
      color: $color-active
      border-color: $color-active
  &__search
    width: 29rem
    padding-top: 1.5rem
  &__authorization-delimiter
    color: $gray
    margin: 0 15px