section.content-block.content-block_inner
    .feedback
        a.anchor(name="feedbacks")
        .section__header
            h2.title Все отзывы о товаре
            .subtitle Что об этом думают другие покупатели
        input.hiddens.feedback__activation(type="checkbox" id="feedback__activation")
        .feedback__list
            .feedback__item
                .feedback__row
                    .person
                        img.person__photo(src="../../img/user.jpg" title="" alt="")
                        .person__info
                            .person__item
                                a.link(href="" title="") Савельев Антон
                            .rating.rating_small.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую))) товар качественный все как в описании огромное спасибо консультантам
                .delimiter
            .feedback__item
                .feedback__row
                    .person
                        img.person__photo(src="../../img/user.jpg" title="" alt="")
                        .person__info
                            .person__item
                                a.link(href="" title="") Савельев Антон
                            .rating.rating_small.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую))) товар качественный все как в описании огромное спасибо консультантам
                .delimiter
            .feedback__item
                .feedback__row
                    .person
                        img.person__photo(src="../../img/user.jpg" title="" alt="")
                        .person__info
                            .person__item
                                a.link(href="" title="") Савельев Антон
                            .rating.rating_small.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую))) товар качественный все как в описании огромное спасибо консультантам
                .delimiter
            .feedback__item
                .feedback__row
                    .person
                        img.person__photo(src="../../img/user.jpg" title="" alt="")
                        .person__info
                            .person__item
                                a.link(href="" title="") Савельев Антон
                            .rating.rating_small.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую))) товар качественный все как в описании огромное спасибо консультантам
                .delimiter
            .feedback__item.feedback__item_hidden
                .feedback__row
                    .person
                        img.person__photo(src="../../img/user.jpg" title="" alt="")
                        .person__info
                            .person__item
                                a.link(href="" title="") Савельев Антон
                            .rating.rating_small.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую))) товар качественный все как в описании огромное спасибо консультантам
                .delimiter
            .feedback__item.feedback__item_hidden
                .feedback__row
                    .person
                        img.person__photo(src="../../img/user.jpg" title="" alt="")
                        .person__info
                            .person__item
                                a.link(href="" title="") Савельев Антон
                            .rating.rating_small.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую))) товар качественный все как в описании огромное спасибо консультантам
                .delimiter
            .feedback__item.feedback__item_hidden
                .feedback__row
                    .person
                        img.person__photo(src="../../img/user.jpg" title="" alt="")
                        .person__info
                            .person__item
                                a.link(href="" title="") Савельев Антон
                            .rating.rating_small.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую))) товар качественный все как в описании огромное спасибо консультантам
                .delimiter
        label.feedback__bottom(for="feedback__activation")