.tetxtarea
  border: none
  border-bottom: 1px solid $gray
  padding-bottom: 15px
  width: 100%
  background: none
  color: $gray
  resize: none
  min-height: 10rem

.tetxtarea::-webkit-input-placeholder
  color: $gray
.tetxtarea:-moz-placeholder
  color: $gray
.tetxtarea::-moz-placeholder
  color: $gray
.tetxtarea:-ms-input-placeholder
  color: $gray