.content-block.content-block_inner
    .section__header
        h2.title Похожие аукционы
        .subtitle Возможно вас заинтересует
    section.grid.grid_auto
        .product-preview.section_bg-light
            a.link-full(href="" title="")
            .product-preview__photo-container
                img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                .product-preview__top
                    .product-preview__top-item
                    .product-preview__top-item
                        .like
                            input.hidden.like__activation(type="checkbox" id="like-activation1")
                            label.link-full(for="like-activation1")
                            i.icon.icon-heart-gray
                            i.icon.icon-heart-active.icon_active
            .product-preview__content
                .product-preview__title Converse All-Stars sneakers
                .product-preview__subtitle 06.06.2018 15:13:00
                .product-preview__row
                    .product-preview__price #[b 2100] руб.
                    .button.button_small
                        a.link-full(href="" title="")
                        .button__icon
                            i.icon.icon-hammer
        .product-preview.section_bg-light
            a.link-full(href="" title="")
            .product-preview__photo-container
                img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                .product-preview__top
                    .product-preview__top-item
                    .product-preview__top-item
                        .like
                            input.hidden.like__activation(type="checkbox" id="like-activation2")
                            label.link-full(for="like-activation2")
                            i.icon.icon-heart-gray
                            i.icon.icon-heart-active.icon_active
            .product-preview__content
                .product-preview__title Converse All-Stars sneakers
                .product-preview__subtitle 06.06.2018 15:13:00
                .product-preview__row
                    .button.button_small
                        a.link-full(href="" title="")
                        .button__name Сделать ставку
                        .button__icon
                            i.icon.icon-hammer
        .product-preview.section_bg-light
            a.link-full(href="" title="")
            .product-preview__photo-container
                img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                .product-preview__top
                    .product-preview__top-item
                    .product-preview__top-item
                        .like
                            input.hidden.like__activation(type="checkbox" id="like-activation3")
                            label.link-full(for="like-activation3")
                            i.icon.icon-heart-gray
                            i.icon.icon-heart-active.icon_active
            .product-preview__content
                .product-preview__title Converse All-Stars sneakers
                .product-preview__subtitle 06.06.2018 15:13:00
                .product-preview__row
                    .product-preview__price #[b 2100] руб.
                    .product-preview__buy-button
                        .button.button_small
                            a.link-full(href="" title="")
                            .button__icon
                                i.icon.icon-hammer
        .product-preview.section_bg-light
            a.link-full(href="" title="")
            .product-preview__photo-container
                img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                .product-preview__top
                    .product-preview__top-item
                    .product-preview__top-item
                        .like
                            input.hidden.like__activation(type="checkbox" id="like-activation4")
                            label.link-full(for="like-activation4")
                            i.icon.icon-heart-gray
                            i.icon.icon-heart-active.icon_active
            .product-preview__content
                .product-preview__title Converse All-Stars sneakers
                .product-preview__subtitle 06.06.2018 15:13:00
                .product-preview__row
                    .button.button_small
                        a.link-full(href="" title="")
                        .button__name Сделать ставку
                        .button__icon
                            i.icon.icon-hammer
        .product-preview.section_bg-light
            a.link-full(href="" title="")
            .product-preview__photo-container
                img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                .product-preview__top
                    .product-preview__top-item
                    .product-preview__top-item
                        .like
                            input.hidden.like__activation(type="checkbox" id="like-activation5")
                            label.link-full(for="like-activation5")
                            i.icon.icon-heart-gray
                            i.icon.icon-heart-active.icon_active
            .product-preview__content
                .product-preview__title Converse All-Stars sneakers
                .product-preview__subtitle 06.06.2018 15:13:00
                .product-preview__row
                    .button.button_small
                        a.link-full(href="" title="")
                        .button__name Сделать ставку
                        .button__icon
                            i.icon.icon-hammer
        .product-preview.section_bg-light
            a.link-full(href="" title="")
            .product-preview__photo-container
                img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                .product-preview__top
                    .product-preview__top-item
                    .product-preview__top-item
                        .like
                            input.hidden.like__activation(type="checkbox" id="like-activation6")
                            label.link-full(for="like-activation6")
                            i.icon.icon-heart-gray
                            i.icon.icon-heart-active.icon_active
            .product-preview__content
                .product-preview__title Converse All-Stars sneakers
                .product-preview__subtitle 06.06.2018 15:13:00
                .product-preview__row
                    .button.button_small
                        a.link-full(href="" title="")
                        .button__name Сделать ставку
                        .button__icon
                            i.icon.icon-hammer