.header-user
    .inner
        .person
            img.person__photo(src="../../img/user.jpg" title="" alt="")
            .person__info
                .person__item
                    a.link(href="" title="") Савельев Антон
                .person__item
                    .rating.rating_small.rating_5
                        .rating__item
                        .rating__item
                        .rating__item
                        .rating__item
                        .rating__item
                .person__item
                    .social
                        a.social__link(href="" title="")
                            i.icon.icon-vk
                            i.icon.icon-vk-active.icon_active
                        a.social__link(href="" title="")
                            i.icon.icon-face
                            i.icon.icon-face-active.icon_active
                        a.social__link(href="" title="")
                            i.icon.icon-insta
                            i.icon.icon-insta-active.icon_active