.person
  +flex(row wrap, flex-start, flex-start)
  &_central
    .person__row
      justify-content: center
      text-align: center
    .person__photo
      margin-right: 0
  &__photo
    width: 5rem
    height: 5rem
    border-radius: 100%
    overflow: hidden
    object-fit: cover
    border: 1px solid #fbaca5
    margin-right: 2rem
    font-size: 12px
    &_small
      width: 2.5rem
      height: 2.5rem
  &__item
    margin-bottom: 5px
  &__row
    +flex(row wrap, flex-start, center)
    margin-bottom: 1.5rem
    &:last-of-type
      margin-bottom: 0
  &__row-item
    margin-right: 12.5px
  &__info
    flex-grow: 1