.rating-input
  +flex(row nowrap, flex-start, flex-start)
  display: inline-flex
  &__star
    +background("../img/icons/star.svg", contain, no-repeat, center, center)
    display: block
    width: 12px
    height: 12px
    margin-right: 3px
    cursor: pointer
    &:last-of-type
      margin-right: 0
  &__activation
    display: none
    &[id="rating1"]
      &:checked
        & ~ .rating-input__star1
          background-image: url("../img/icons/star-active.svg")
    &[id="rating2"]
      &:checked
        & ~ .rating-input__star2
          background-image: url("../img/icons/star-active.svg")
    &[id="rating3"]
      &:checked
        & ~ .rating-input__star3
          background-image: url("../img/icons/star-active.svg")
    &[id="rating4"]
      &:checked
        & ~ .rating-input__star4
          background-image: url("../img/icons/star-active.svg")
    &[id="rating5"]
      &:checked
        & ~ .rating-input__star
          background-image: url("../img/icons/star-active.svg")