form.form
    .form__inner
        .form__row
            .input-group
                .input-group__label
                    label Фото товара
                .input-group__input
                    input.input.input_file(type="file")
        .form__row
            .input-group
                .input-group__label
                    label Категория
                .input-group__input.input-group__input_no-padding
                    select.select.select_bright.turnintodropdown
                        option(hidden="" disabled="" selected="" style="display:none;") Выберите категорию
                        option Одежда и обувь
                        option 2
        .form__row
            .input-group
                .input-group__label
                    label Наименование
                .input-group__input
                    input.input(type="text")
        .form__group
            .form__group-col
                .input-group
                    .input-group__label
                        label Текущая цена
                    .input-group__input
                        input.input(type="text")
            .form__group-col
                .input-group
                    .input-group__label
                        label Шаг цены
                    .input-group__input
                        input.input(type="text")
        .form__row
            .input-group
                .input-group__label
                    label Условия проведения аукциона
                .input-group__input
                    textarea.tetxtarea
        .form__group
            .form__group-col
                .input-group
                    .input-group__label
                        label Начало торгов
                    .input-group__input
                        input.input.date.input_date(type="date")
            .form__group-col
                .input-group
                    .input-group__label
                        label Завершение торгов
                    .input-group__input
                        input.input.date.input_date(type="date")
        .form__row
            .form__button
                .button-group
                    .button-group__item
                        a.button.button_middle(href="" title="") Сохранить
                    .button-group__item
                        a.button.button_middle(href="" title="") Удалить