extends ../layout/layout
block title
    | catalog
block head
    script(src="../../scripts/select/select.js" async="")
block content
    .inner
        .section.section_block.section_clean
            .section__header
                h2.title Недвижимость
        include braedcrumbs/braedcrumbs1
        include product-list/product-list1
        include banners/banner
        include braedcrumbs/braedcrumbs2
        include product-list/product-list2
        include banners/banner
        include braedcrumbs/braedcrumbs3
        include popups/popup1
        include product-list/product-list3
    include advantages/advantages
block end
    script(src="../../scripts/grid-view/grid-view.js" async="")
