nav.header-menu
    .inner
        .header-menu__list
            a.header-menu__item.header-menu__item_active(href="" title="") Магазин
            a.header-menu__item(href="" title="") Аукционы
            a.header-menu__item(href="" title="")
                span.header-menu__item_important Конкурсы
            a.header-menu__item(href="" title="") Я ищу
            a.header-menu__item(href="" title="") Правила
            a.header-menu__item(href="" title="") Помощь
