article.news
    .news__illustration
        img.news__img(src="../../img/article/article1.jpg" alt="" title="")
    .news__content
        h3.title-secondary Назвнаие записи 1
        .news__date 21 июня 2017
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores et hic illum ipsam iste iusto labore, pariatur similique sint? Alias autem doloribus est ex ipsum odio pariatur ullam voluptas!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, nam, officiis! Commodi consequuntur et fugiat inventore placeat sequi ullam. Blanditiis deleniti dolorum eius minus molestias nesciunt perspiciatis placeat, ullam veritatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aspernatur at consectetur debitis dolore ducimus eaque, eligendi ex expedita laborum molestias mollitia nulla praesentium quibusdam quo recusandae rerum similique!
        a.link(href="" title="") Подробнее
article.news
    .news__illustration
        img.news__img(src="../../img/article/article1.jpg" alt="" title="")
    .news__content
        h3.title-secondary Назвнаие записи 2
        .news__date 21 июня 2017
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, nam, officiis! Commodi consequuntur et fugiat inventore placeat sequi ullam. Blanditiis deleniti dolorum eius minus molestias nesciunt perspiciatis placeat, ullam veritatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aspernatur at consectetur debitis dolore ducimus eaque, eligendi ex expedita laborum molestias mollitia nulla praesentium quibusdam quo recusandae rerum similique!
        a.link(href="" title="") Подробнее