section.section.banner
    .banner__bg
    .inner
        .banner__container
            .banner__illustartion
                img.banner__illustartion-img(src="../../img/logo-large.png" title="" alt="")
            .banner__content
                .banner__title
                    span.thin Аукционы с&#160;
                    span.color.light.logo-name TOO
                    span.color.extrabold.logo-name SHOP
                .banner__title
                    b это просто!
                .banner__button
                    .button.button_large Попробовать