input.popup__activation(type="checkbox" id="popup__activation")
.popup
    label.link-full(for="popup__activation")
    .popup__content
        .popup__close
            i.icon.icon-delete
            label.link-full(for="popup__activation")
        .popup__inner
            .person.person_central
                .person__info
                    .person__row
                        img.person__photo(src="../../img/user.jpg" title="" alt="")
                    .person__row
                        .rating.rating_small.rating_5
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                    .person__row
                        a.link(href="" title="") Савельев Антон
                    .person__row
                        a.link(href="" title="") 8 800 123 45 67
                    .person__row
                        a.link(href="" title="") email@gmail.com
                    .person__row
                        .social
                            a.social__link(href="" title="")
                                i.icon.icon-vk
                                i.icon.icon-vk-active.icon_active
                            a.social__link(href="" title="")
                                i.icon.icon-face
                                i.icon.icon-face-active.icon_active
                            a.social__link(href="" title="")
                                i.icon.icon-insta
                                i.icon.icon-insta-active.icon_active
                    .person__row
                        p Скажите продавцу, #[br] что нашли товар на TooShop.ru