.feedback
  font-size: 12px
  &__list
    display: grid
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr))
    grid-gap: 0 13rem
  &__row
    margin-bottom: 2rem
  &__item
    &_hidden
      display: none
  &__bottom
    +background("../img/icons/down-active.svg", 10px, no-repeat, center, center)
    width: 9rem
    height: 2rem
    background-color: $white
    margin: 0 auto
    display: block
  &__activation
    &:checked
      & ~ .feedback__list
        .feedback__item_hidden
          display: block
      & ~ .feedback__bottom
        display: none

@import "media"