form.form.form_short
    .form__inner
        .form__row
            .input-group
                .input-group__label
                    label Электронная почта
                .input-group__input
                    input.input(type="email")
        .form__row
            .input-group
                .input-group__label
                    label Имя пользователя
                .input-group__input
                    input.input(type="text")
        .form__row
            .input-group
                .input-group__label
                    label Пароль
                .input-group__input
                    input.input(type="password")
        .form__row
            .input-group
                .input-group__label
                    label Подтвердите пароль
                .input-group__input
                    input.input(type="password")
        .form__row
            .form__button
                a.button.button_middle(href="" title="") Зарегистрироваться
        .form__row
            .input-group
                .input-group__label
                    label Или войти через соц. сети:
                .social
                    a.social__link(href="" title="")
                        i.icon.icon-vk
                        i.icon.icon-vk-active.icon_active
                    a.social__link(href="" title="")
                        i.icon.icon-face
                        i.icon.icon-face-active.icon_active
                    a.social__link(href="" title="")
                        i.icon.icon-insta
                        i.icon.icon-insta-active.icon_active
