section.section.advantages
    .advantages__bg
    .inner
        .advantages__container
            h2.advantages__header Мы заботимся о #[b вашей безопасности]
            .advantages__list
                .advantages__item
                    .advantages__img
                        i.icon.icon-shield
                    .advantages__description Гарантия безопасности
                .advantages__item
                    .advantages__img
                        i.icon.icon-wallet
                    .advantages__description Оплата по факту
                .advantages__item
                    .advantages__img
                        i.icon.icon-invoice
                    .advantages__description Удобные расчеты