@media (max-width: 1024px)
  .product
    flex-wrap: wrap
    &__slider
      width: 100%
      padding-right: 2rem
    &__description
      max-width: 60%
      padding: 2rem
      padding-top: 0
    &__aside
      padding-top: 0

@media (max-width: 630px)
  .product
    &__description
      max-width: 100%
    &__aside
      width: 100%

@media (max-width: 380px)
  .product
    &__details
      grid-template-columns: repeat(auto-fit,minmax(240px,1fr))
    &__price
      font-size: 16px
    &__subprice
      font-size: 16px
    &__info td:last-of-type
      width: 100%
