.product
  +flex(row nowrap, space-between, stretch)
  font-size: 12px
  &__slider
    width: 31rem
    height: 42rem
    position: relative
    padding: 2rem 0 2rem 2rem
  &__description
    flex-grow: 1
    padding: 2rem 3rem
  &__title
    font-size: 1.8rem
  &__item
    margin-bottom: 3rem
  &__info
    td
      padding: 10px 10px 10px 0
    tr
      &:first-of-type
        td
          padding-top: 0
    tr
      &:last-of-type
        td
          padding-bottom: 0
  &__subtitle
    color: $gray
  &__time
    font-size: 1.8rem
  &__price
    font-size: 2.4rem
    font-weight: 700
  &__subprice
    background-color: $white
    padding: 5px 5px 5px 10px
    margin-right: 5px
    font-size: 1.8rem
  &__title-secondary
    font-size: 16px
  &__row
    +flex(row wrap, flex-start, baseline)
    margin-bottom: 2rem
  &__aside
    padding: 2rem 2rem 2rem 2.5rem
    width: 24.5rem
    min-width: 24.5rem
    border-left: 1px solid $white
  &__details
    font-size: 12px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  &__text
    p
      color: $gray
      line-height: 2
      text-align: justify
      margin-bottom: 10px
  &__details-bottom
    +flex(row wrap, center, center)
    width: 100%
    position: absolute
    bottom: 0
    background: white
    padding: 10px 0 5px 0
  &__details-content
    min-height: 100%
  &__details-item
    border-right: 1px solid $white
    padding: 2rem
    &:last-of-type
      border-right: 0
  &__details-col
    position: relative
    height: 100%
    max-height: 30rem
    overflow: hidden
    -webkit-overflow-scrolling: touch
    &::-webkit-scrollbar-track
      background: $white
    &::-webkit-scrollbar
      width: 5px
      height: 6px
    &::-webkit-scrollbar-thumb
      background-color: $color-active
    &:hover::-webkit-scrollbar-thumb
      background: $color-active-bright
  &__details-full
    &:checked
      & + .product__details-item .product__details-col
        padding-right: 10px
        overflow-y: auto
      & + .product__details-item .product__details-col .product__details-bottom
        display: none
  &__block
    padding: 10px 15px
    border: 1px dashed $color-active
    display: inline-block

@import "media"