.user
    .user__content
        include ../product-list/product-list1
        include ../product-list/product-list2
        include ../product-list/product-list3
    .user__sidebar
        include ../sidebar/sidebar