section.grid.subsection
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container
            img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                .product-preview__top-item
                    .button-group
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Удалить")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Редактировать")
                                i.icon.icon-edit
                                i.icon.icon-edit-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Отправить в архив")
                                i.icon.icon-box
                                i.icon.icon-box-active.icon_active
        .product-preview__content
            .product-preview__title Converse All-Stars sneakers
            .product-preview__subtitle 06.06.2018 15:13:00
            .product-preview__row
                .product-preview__price #[b 2100] руб.
                .button.button_small
                    a.link-full(href="" title="")
                    .button__icon
                        i.icon.icon-hammer
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container
            img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                .product-preview__top-item
                    .button-group
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Удалить")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Редактировать")
                                i.icon.icon-edit
                                i.icon.icon-edit-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Отправить в архив")
                                i.icon.icon-box
                                i.icon.icon-box-active.icon_active
        .product-preview__content
            .product-preview__title Converse All-Stars sneakers
            .product-preview__subtitle 06.06.2018 15:13:00
            .product-preview__row
                .button.button_small
                    a.link-full(href="" title="")
                    .button__name Сделать ставку
                    .button__icon
                        i.icon.icon-hammer
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container
            img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                .product-preview__top-item
                    .button-group
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Удалить")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Редактировать")
                                i.icon.icon-edit
                                i.icon.icon-edit-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Отправить в архив")
                                i.icon.icon-box
                                i.icon.icon-box-active.icon_active
        .product-preview__content
            .product-preview__title Converse All-Stars sneakers
            .product-preview__subtitle 06.06.2018 15:13:00
            .product-preview__row
                .product-preview__price #[b 2100] руб.
                .button.button_small
                    a.link-full(href="" title="")
                    .button__icon
                        i.icon.icon-hammer
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container
            img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                .product-preview__top-item
                    .button-group
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Удалить")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Редактировать")
                                i.icon.icon-edit
                                i.icon.icon-edit-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Отправить в архив")
                                i.icon.icon-box
                                i.icon.icon-box-active.icon_active
        .product-preview__content
            .product-preview__title Converse All-Stars sneakers
            .product-preview__subtitle 06.06.2018 15:13:00
            .product-preview__row
                .product-preview__price #[b 2100] руб.
                .button.button_small
                    a.link-full(href="" title="")
                    .button__icon
                        i.icon.icon-hammer
.subsection
    .subsection__row
        .button.button_middle
            a.link-full(href="" title="")
            .button__name Добавить аукцион
            .button__icon
                i.icon.icon-plus