.faq
  +inner-grid(200px)
  grid-gap: 3rem
  &__sidebar
    grid-column: 4 / 5
    grid-row: 1 / 3
  &__content
    grid-column: 1 / 4
  &__activation-label
    cursor: pointer
  &__item
    +flex(row nowrap, space-between, center)
    +font(16px, 400, white)
    position: relative
    padding: 2rem 3rem
    background: $gradient
  &__answer
    background-color: white
    padding: 0 2rem 0 3rem
    height: 0
    overflow: hidden
    transition: all 0.3s linear
  &__activation-label
    height: 2.5rem
    padding-top: 7px
    padding-left: 10px
  &__label-line
    width: 2.5rem
    height: 3px
    background-color: white
    display: block
    &_vertical
      transform: rotate(90deg)
      transform-origin: center
      top: 3px
      position: relative
      transition: transform 0.2s linear
  &__deactivation-link
    display: none
  &__activation
    &:checked
      & ~ .faq__answer
        padding: 2rem 2rem 2rem 3rem
        height: 25rem
      & ~ .faq__item
        .faq__label-line_vertical
          transform: rotate(0)
        .faq__activation-link
          display: none
        .faq__deactivation-link
          display: block
  &__row
    margin-bottom: 2rem
  &__answer-inner
    -webkit-overflow-scrolling: touch
    height: 100%
    overflow-y: auto
    padding-right: 1rem
    &::-webkit-scrollbar-track
      background: white
    &::-webkit-scrollbar
      width: 5px
      height: 6px
    &::-webkit-scrollbar-thumb
      background-color: $color-active
    &:hover::-webkit-scrollbar-thumb
      background: $color-active-bright



@import "media"