.rating
  +flex(row nowrap, flex-start, center)
  &__item
    +background("../img/icons/star.svg", contain, no-repeat, center, center)
    width: 12px
    height: 12px
    margin-right: 3px
    &:last-of-type
      margin-right: 0
  &_small
    .rating__item
      width: 10px
      height: 10px
  &_1
    .rating__item:first-of-type
      background-image: url("../img/icons/star-active.svg")
  &_2
    .rating__item:nth-of-type(2),
    .rating__item:first-of-type
      background-image: url("../img/icons/star-active.svg")
  &_3
    .rating__item:nth-of-type(3),
    .rating__item:nth-of-type(2),
    .rating__item:first-of-type
      background-image: url("../img/icons/star-active.svg")
  &_4
    .rating__item:nth-of-type(4),
    .rating__item:nth-of-type(3),
    .rating__item:nth-of-type(2),
    .rating__item:first-of-type
      background-image: url("../img/icons/star-active.svg")
  &_5
    .rating__item
      background-image: url("../img/icons/star-active.svg")