.select
  +background("../img/icons/down.svg", 10px, no-repeat, center, right 15px)
  border: none
  height: 4rem
  width: 100%
  font-size: 12px
  background-color: white
  padding-left: 1.5rem
  cursor: pointer
  padding-right: 3.5rem

.dropcontainer
  position: relative
  color: #777
  width: 100%

.trigger
  +flex(row nowrap, flex-start, center)
  +background("../img/icons/down.svg", 10px, no-repeat, center, right 15px)
  border: none
  height: 4rem
  font-size: 12px
  background-color: white
  padding-left: 1.5rem
  cursor: pointer
  padding-right: 3.5rem

.activetrigger
  +flex(row nowrap, flex-start, center)
  +background("../img/icons/down.svg", 10px, no-repeat, center, right 15px)
  border: none
  height: 4rem
  font-size: 12px
  background-color: white
  padding-left: 1.5rem
  cursor: pointer
  padding-right: 3.5rem

.dropcontainer ul
  border-top: none
  background: #fff
  list-style-type: none
  padding: 0
  margin: 0
  z-index: 2
  box-sizing: border-box
  width: 100%
  position: absolute
  top: 0
  left: 0
  a
    color: $text
  li
    background: #f9f9fa
    padding: 10px
    transition: all 0.5s ease
    cursor: pointer
    margin-bottom: 0
    &:hover
      background: #f3f3f3
      outline: none
      a
        color: $color-active-bright
    &:first-child
      display: none
    &:last-child
      border-bottom: none
    &:before
      content: none
.dropdownhidden
  display: none

.dropdownvisible
  height: auto
