.header-mobile
  position: fixed
  background: $gradient
  width: 100%
  height: 100%
  top: 0
  left: -100%
  transition: all .3s cubic-bezier(.77,0,.175,1)
  z-index: 1000
  &__activation
    &:checked
      & ~ .header-mobile
        left: 0
  &__fixed
    +flex(row nowrap, space-between, center)
    padding: 2rem 1.5rem
    background: $gradient
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 500
    height: 6.7rem
    display: none
    border-bottom: 0.5px solid white
    box-shadow: 0px 5px 10px 0 rgba(128, 128, 128, 0.2)
  &__top
    +flex(row nowrap, space-between, center)
    padding: 0 2rem
    background-color: white
    border-bottom: 3px solid $link
    min-height: 6.7rem
    margin-bottom: 2rem
  &__close
    +background("../img/icons/close.svg", contain, no-repeat, center, center)
    display: block
    width: 24px
    height: 23px
  &__back
    +background("../img/icons/left.svg", contain, no-repeat, center, center)
    display: block
    width: 25px
    height: 25px
  &__menu-item
    +flex(row nowrap, flex-start, center)
    position: relative
    padding: 1.5rem 0
    border-bottom: 1px solid white
    max-height: 7rem
    &_user
      display: none
    &_unfolding
      &:after
        content: ""
        +background("../img/icons/right.svg", contain, no-repeat, center, center)
        display: block
        width: 2rem
        height: 2.5rem
        position: absolute
        right: 0
        top: 25%
    &:last-of-type
      border-bottom: none
  &__sub-menu-item
    position: relative
  &__menu-secondary-item
    position: relative
  &__search
    flex-grow: 1
    margin-right: 15px
  &__menu
    color: white
    padding: 0 2rem
  &__menu-inner
    height: calc(100% - 8.7rem)
    overflow-y: auto
  &__icon
    margin-right: 15px
    &:last-of-type
      margin-right: 0
  &__sub-menu-container
    position: fixed
    background: $gradient
    width: 100%
    height: 100%
    top: 0
    right: -100%
    transition: all .3s cubic-bezier(.77,0,.175,1)
    z-index: 1000
  &__submenu-activation
    &:checked
      & ~ .header-mobile__sub-menu-container
        right: 0
  &__menu-secondary
    +flex(row wrap, flex-start, flex-start)
    background-color: $color-active
    padding: 2rem
  &__menu-secondary-col
    flex-grow: 1
    padding-right: 15px
  &__menu-item-image
    width: 4rem
  &__menu-secondary-item
    +font(12px, 400, white)
    padding: 1rem 0
  &__sub-menu-title
    +font(2rem, 600, $text)
  &__logo
    +flex(row nowrap, flex-start, center)
    margin: 0 10px
  &__logo-img
    margin-right: 15px
    width: 4.5rem
    object-fit: contain
  &__title
    +flex(column nowrap, space-between, flex-start)
    color: white
  &__logo-title
    font-size: 3rem
    line-height: 0.8
    font-family: "OpenSans"
    margin-bottom: 5px
  &__lang
    background-color: white
    text-align: center
    padding: 15px 0
  &__icon-link
    +flex(row wrap, center, center)