.braedcrumbs
  +flex(row wrap, flex-satrt, center)
  padding-bottom: 1rem
  &:first-of-type
    padding-top: 1.5rem
  &__item
    +font(12px, 400, $color-active)
    display: block
    margin-bottom: 5px
    &:last-of-type
      color: $text
      cursor: default
      &:after
        content: none
    &:after
      content: ''
      display: inline-block
      margin: 0 15px
      width: 5px
      height: 5px
      border: 1px solid $text
      border-bottom: none
      border-left: none
      transform: rotate(45deg)