.header-top
    .inner
        .header-top__container
            .header-top__lang
                a.header-top__lang-item.header-top__lang-item_active(href="" title="") RU
                a.header-top__lang-item(href="" title="") EN
            .header-top__social
                .social
                    a.social__link(href="" title="")
                        i.icon.icon-vk
                        i.icon.icon-vk-active.icon_active
                    a.social__link(href="" title="")
                        i.icon.icon-face
                        i.icon.icon-face-active.icon_active
                    a.social__link(href="" title="")
                        i.icon.icon-insta
                        i.icon.icon-insta-active.icon_active

