.sidebar
    .sidebar__block
        select.select.select_bright.turnintodropdown
            option(hidden="" disabled="" selected="" style="display:none;") Все товары в «Недвижимость»
            option 1
            option 2
    .sidebar__block.sidebar__block_bg
        .sidebar__item
            .sidebar__title Цена, руб
            .input-interval
                .input-interval__item
                    input.input.input_interval(type="text" placeholder="от")
                .input-interval__item
                    input.input.input_interval(type="text" placeholder="до")
        .sidebar__item
            .sidebar__title Рейтинг продавца
            .rating-input
                input.rating-input__activation(type="radio" name="rating" id="rating1")
                input.rating-input__activation(type="radio" name="rating" id="rating2")
                input.rating-input__activation(type="radio" name="rating" id="rating3")
                input.rating-input__activation(type="radio" name="rating" id="rating4")
                input.rating-input__activation(type="radio" name="rating" id="rating5" checked="")
                label.rating-input__star.rating-input__star1.rating-input__star2.rating-input__star3.rating-input__star4(for="rating1")
                label.rating-input__star.rating-input__star2.rating-input__star3.rating-input__star4(for="rating2")
                label.rating-input__star.rating-input__star3.rating-input__star4(for="rating3")
                label.rating-input__star.rating-input__star4(for="rating4")
                label.rating-input__star(for="rating5")
        .sidebar__item
            .sidebar__title Добавлен
            .checkbox-list
                .checkbox-list__row
                    .checkbox-group
                        .checkbox-group__input
                            input.hidden.checkbox__activation(type="checkbox" id="filter-checkbox1")
                            label.checkbox(for="filter-checkbox1")
                        .checkbox-group__label
                            label(for="filter-checkbox1") Недавно
                .checkbox-list__row
                    .checkbox-group
                        .checkbox-group__input
                            input.hidden.checkbox__activation(type="checkbox" id="filter-checkbox2")
                            label.checkbox(for="filter-checkbox2")
                        .checkbox-group__label
                            label(for="filter-checkbox2") Неделю назад
                .checkbox-list__row
                    .checkbox-group
                        .checkbox-group__input
                            input.hidden.checkbox__activation(type="checkbox" id="filter-checkbox3")
                            label.checkbox(for="filter-checkbox3")
                        .checkbox-group__label
                            label(for="filter-checkbox3") Все товары
    .sidebar__block
        .sidebar__button
            a.button.button_small(href="" title="") Применить