section.content-block
    .product
        .product__slider
            .swiper-container.gallery-top.gallery-top1
                .swiper-wrapper
                    .swiper-slide(style='background-image:url(../../img/products/product2.jpg)')
                    .swiper-slide(style='background-image:url(../../img/products/product2.jpg)')
                    .swiper-slide(style='background-image:url(../../img/products/product2.jpg)')
            .swiper-container.gallery-thumbs.gallery-thumbs1
                .swiper-button-next.swiper-button-next1
                .swiper-button-prev.swiper-button-prev1
                .swiper-wrapper
                    .swiper-slide(style='background-image:url(../../img/products/product2.jpg)')
                    .swiper-slide(style='background-image:url(../../img/products/product2.jpg)')
                    .swiper-slide(style='background-image:url(../../img/products/product2.jpg)')
            script.
                var galleryTop1 = new Swiper('.gallery-top1', {
                    spaceBetween: 10,
                    navigation: {
                        nextEl: '.swiper-button-next1',
                        prevEl: '.swiper-button-prev1',
                    },
                    loop: true,
                    loopedSlides: 3
                });
                var galleryThumbs1 = new Swiper('.gallery-thumbs1', {
                    spaceBetween: 15,
                    centeredSlides: true,
                    slidesPerView: 3,
                    touchRatio: 0.2,
                    slideToClickedSlide: true,
                    loop: true,
                    loopedSlides: 3,
                    breakpoints: {
                        350: {
                            spaceBetween: 10,
                        }
                    }
                });
                galleryTop1.controller.control = galleryThumbs1;
                galleryThumbs1.controller.control = galleryTop1;
        .product__description
            .product__item
                .product__title Конкурс «Легкое летнее платье с поясом»
            .product__item
                table.product__info
                    tbody
                        tr
                            td
                                .product__subtitle Осталось времени:
                            td
                                .product__time 15:01:54
            .product__item
                .button-group
                    .button-group__item
                        a.button.button_middle(href="" title="") Участвовать
                    .button-group__item
                        .like.like_clean
                            i.icon.icon-heart
                            i.icon.icon-heart-big-active.icon_active
                            a.like__link(href="" title="") Добавить в избранное
            .product__item
                .element-group
                    .element-group__item
                        .product__title-secondary Отзывы о товаре
                    .element-group__item
                        .rating.rating_5
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
            .product__row
                .person
                    img.person__photo(src="../../img/user.jpg" title="" alt="")
                    .person__info
                        .person__item
                            a.link(href="" title="") Савельев Антон
                        .rating.rating_small.rating_5
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
            p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую&#41;&#41;&#41;
            .product__item
                .button-group
                    .button-group__item
                        a.link-inner(href="#feedbacks" title="") Все отзывы
                    .button-group__item
                        label.link-inner(for="popup__activation") Оставить отзыв
        .product__aside
            .product__item
                .product__title Продавец
            .product__item
                .person
                    img.person__photo(src="../../img/user.jpg" title="" alt="")
                    .person__info
                        .person__row
                            a.link(href="" title="") Савельев Антон
                        .person__row
                            .person__row-item
                                i.icon.icon-location
                            a.link-inner(href="" title="") Москва
            .product__row
                .element-group
                    .element-group__item
                        .product__title Рейтинг
                    .element-group__item
                        .rating.rating_large.rating_5
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
            .product__row
                a.link-inner(href="" title="") 100% положительных отзывов
            .product__row
                .product__subtitle Всего отзывов:&#160;&#160;
                a.link(href="" title="") 1825
            .product__row
                .product__title Достижения
            .product__row
                .element-group
                    .element-group__item
                        .element-group__icon
                            i.icon.icon-shield-small
                    .element-group__item
                        .element-group__description Паспортные данные проверены
            .product__row
                .element-group
                    .element-group__item
                        .element-group__icon
                            i.icon.icon-invoice-small
                    .element-group__item
                        .element-group__description 100+ продаж
section.content-block
    .product__details
        input.hidden.product__details-full(type="checkbox" id="product__details-full-description2")
        .product__details-item
            .product__row
                .product__title Условия конкурса
            .product__details-col
                .product__details-content
                    .product__text
                        p Все работы связанные с внутренним обустройством апартаментов, а именно проектные планировочные решения, дизайнерские разработки, инжиниринг и т.д., осуществлялись лучшими специалистами в данных областях и использовались лучшие элитные материалы, некоторые в единственном числе и именно для этих апартаментов. Общая площадь апартаментов: более 1400 м2 (с учетом террас). Жилая площадь 500 м2. Полезная площадь (эксплуатируемая) 800 м2, в летнее время года террасы более 600 м2. Дополнительные преимущества объекта: три последних верхних этажа, с которых открывается прекрасная панорама Левобережной и Центральной части столицы, и только в этом крыле дома, открывается великолепный вид на Историческую часть города.
                            | #[br] В техническом паспорте квартиры не включена кухня второго уровня площадью 25-30 м2. Общая площадь апартаментов: более
                .product__details-bottom
                    label.link-inner(for="product__details-full-description2") Полное описание
        input.hidden.product__details-full(type="checkbox" id="product__details-full-feedbacks2")
        .product__details-item
            .product__row
                .product__title Все отзывы о товаре
            .product__details-col
                .product__details-content
                    .feedback__item
                        .feedback__row
                            .person
                                img.person__photo(src="../../img/user.jpg" title="" alt="")
                                .person__info
                                    .person__item
                                        a.link(href="" title="") Савельев Антон
                                    .rating.rating_small.rating_5
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                        .rating__item
                        p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую))) товар качественный все как в описании огромное спасибо консультантам
                        .delimiter
                    .feedback__item
                        .feedback__row
                            .person
                                img.person__photo(src="../../img/user.jpg" title="" alt="")
                                .person__info
                                    .person__item
                                        a.link(href="" title="") Савельев Антон
                                    .rating.rating_small.rating_5
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                        .rating__item
                        p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую))) товар качественный все как в описании огромное спасибо консультантам
                        .delimiter
                    .feedback__item
                        .feedback__row
                            .person
                                img.person__photo(src="../../img/user.jpg" title="" alt="")
                                .person__info
                                    .person__item
                                        a.link(href="" title="") Савельев Антон
                                    .rating.rating_small.rating_5
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                        .rating__item
                        p Покупаю уже второй раз, очень вежливый менеджер, товар отличный, рекомендую))) товар качественный все как в описании огромное спасибо консультантам
                        .delimiter
                .product__details-bottom
                    label.link-inner(for="product__details-full-feedbacks2") Все отзывы

