.button
  +font(12px, 700, $white)
  +flex(row nowrap, center, center)
  transition: all 0.3s linear
  background-image: $gradient
  min-height: 3rem
  cursor: pointer
  position: relative
  padding: 5px 10px 5px 2.5rem
  position: relative
  z-index: 60
  &:hover
    filter: brightness(0.8)
  &_large
    min-height: 5rem
    font-size: 1.8rem
    padding: 10px
    min-width: 20rem
  &_small
    padding-left: 10px
  &_middle
    min-height: 4rem
    padding: 12.5px
    min-width: 16rem
  &_gray
    background: $bg
    color: $gray
    font-weight: 400
    padding-left: 10px
    &:hover
      background: $bg
  &_with-arrow
    position: relative
    &:after
      content: ''
      position: absolute
      display: block
      width: 5px
      height: 5px
      border: 1px solid $gray
      border-bottom: none
      border-left: none
      transform: rotate(135deg)
      right: -25px
      top: 35%
  &__icon
    +flex(row nowrap, center, center)
  &__name
    & + .button__icon
      margin-left: 15px