.footer
  +main-grid
  padding: 4.5rem 0 5.5rem 0
  background-color: #252525
  &__container
    +flex(row wrap, space-between, flex-start)
    //display: grid
    //justify-content: space-between
    //grid-template-columns: repeat(auto-fit,minmax(200px,auto))
    //grid-template-rows: auto
    //grid-gap: 20px
  &__title
    +font(2.4rem, 700, $white)
    margin-bottom: 4.5rem
  &__input-footnote
    color: $gray
    font-size: 10px
    margin: 15px 0
  &__menu-item
    color: $gray
    margin-bottom: 15px
  &__menu
    +flex(column nowrap, flex-start, flex-start)
  &__section
    margin-bottom: 2rem

@import "media"