.element-group
  +flex(row nowrap, flex-start, center)
  &__item
    margin-right: 2rem
    &:last-of-type
      margin-right: 0
  &__icon
    +flex(row nowrap, center, center)
    border-radius: 100%
    width: 3.5rem
    height: 3.5rem
    box-shadow: 0px 8px 15px 1px rgba(173, 171, 171, 0.37)
  &__description
    font-size: 10px
    line-height: 1.8