.aside-menu
  +flex(column nowrap, flex-start, stretch)
  &__item
    +flex(row nowrap, space-between, center)
    width: 100%
    padding: 1rem 0
    position: relative
    &:hover
      color: $link
      .aside-menu__sub
        display: flex
    &:after
      content: ''
      display: block
      width: 5px
      height: 5px
      border: 1px solid $text
      border-bottom: none
      border-left: none
      transform: rotate(45deg)
    &_hidden
      display: none
    &_no-arrow
      &:after
        content: none
  &__activation
    &:checked
      & ~ .aside-menu__item_hidden
        display: flex
      & ~ .aside-menu__button-activation
        display: none
  &__sub
    position: absolute
    top: -1rem
    left: 100%
    z-index: 10
    transition: all 0.3s linear
    display: none
  &__sub-item
    display: block
    padding: 1rem 5rem 1rem 0
    white-space: nowrap
    &:last-of-type
      margin-bottom: 0
    &:hover
      color: $link
  &__sub-list
    +flex(row nowrap, stretch, stretch)
    box-shadow: 0 4px 35px 0 rgba(0,0,0,.25)
    background-color: rgba(255, 255, 255, 0.98)
    padding: 1rem 3rem
    margin-left: 1.5rem