extends ../layout/layout
block title
    | index
block head
block content
    include category/category
    include product-list/product-list1
    include product-list/product-list2
    include banner/banner
    include product-list/product-list3
    include advantages/advantages
    include brands/brands
block end

