.light
  font-weight: 100
.extrabold
  font-weight: 800
.color
  color: $color-active
.thin
  font-weight: 100

.title-secondary
  +font(1.8rem, 700, $text)
  margin-bottom: 10px

.title
  +font(2.4rem, 700, $text)

.subtitle
  color: $gray
  margin-top: 10px

.logo-name
  font-family: "OpenSans"

.link
  color: $link
  cursor: pointer

.link-inner
  color: $link
  cursor: pointer
  padding-bottom: 3px
  border-bottom: 1px dashed

h1, h2, h3, h4, h5, h6
  margin: 0
  font-weight: inherit

b
  font-weight: 700
  color: inherit

p
  margin: 0 0 15px 0
  color: $gray
  min-height: 1px
  &:last-child
    margin-bottom: 0

ol
  margin: 2rem 0 2rem 2rem
  color: $gray
  padding: 0
  padding-left: 3rem

ul
  color: $gray
  list-style-type: none
  margin: 2rem 0 2rem 2rem
  padding: 0
  padding-left: 3rem
  li
    margin-bottom: 5px
    position: relative
    &:last-of-type
      margin-bottom: 0
    &:before
      content: ""
      width: 10px
      height: 10px
      display: block
      border-radius: 100%
      background: $gradient
      position: absolute
      left: -1.5rem
      top: 3px