.section__header
    h2.title Товары
    .subtitle Возможно вас заинтересует
section.grid.subsection
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container
            img.product-preview__photo(src="../../img/products/product3.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                .product-preview__top-item
                    .button-mini
                        a.link-full(href="" title="")
                        i.icon.icon-delete
                        i.icon.icon-delete-active.icon_active
        .product-preview__content
            .product-preview__title Зимние термоботинки Timberland Blue A 2030-1
            .product-preview__subtitle Рейтинг продавца
            .product-preview__row
                .rating.rating_5
                    .rating__item
                    .rating__item
                    .rating__item
                    .rating__item
                    .rating__item
            .product-preview__row
                .product-preview__price #[b 12 800] руб.
                .button
                    label.link-full(for="popup__activation")
                    .button__name Купить
                    .button__icon
                        i.icon.icon-basket-gray
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container
            img.product-preview__photo(src="../../img/products/product3.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                .product-preview__top-item
                    .button-mini
                        a.link-full(href="" title="")
                        i.icon.icon-delete
                        i.icon.icon-delete-active.icon_active
        .product-preview__content
            .product-preview__title Зимние термоботинки Timberland Blue A 2030-1
            .product-preview__subtitle Рейтинг продавца
            .product-preview__row
                .rating.rating_2
                    .rating__item
                    .rating__item
                    .rating__item
                    .rating__item
                    .rating__item
            .product-preview__row
                .product-preview__price #[b 12 800] руб.
                .product-preview__buy-button
                    .button
                        label.link-full(for="popup__activation")
                        .button__name Купить
                        .button__icon
                            i.icon.icon-basket-gray
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container
            img.product-preview__photo(src="../../img/products/product3.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                .product-preview__top-item
                    .button-mini
                        a.link-full(href="" title="")
                        i.icon.icon-delete
                        i.icon.icon-delete-active.icon_active
        .product-preview__content
            .product-preview__title Зимние термоботинки Timberland Blue A 2030-1
            .product-preview__subtitle Рейтинг продавца
            .product-preview__row
                .rating.rating_3
                    .rating__item
                    .rating__item
                    .rating__item
                    .rating__item
                    .rating__item
            .product-preview__row
                .product-preview__price #[b 12 800] руб.
                .button
                    label.link-full(for="popup__activation")
                    .button__name Купить
                    .button__icon
                        i.icon.icon-basket-gray
.subsection
    .subsection__row
        .button.button_middle
            a.link-full(href="" title="")
            .button__name Показать еще
            .button__icon
                i.icon.icon-reload