.section__header
    h2.title Конкурсы
    .subtitle Возможно вас заинтересует
section.grid.subsection
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container.product-preview__photo-container_large
            img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                    .label до 01.08
                .product-preview__top-item
                    .button-mini
                        a.link-full(href="" title="")
                        i.icon.icon-delete
                        i.icon.icon-delete-active.icon_active
            .product-preview__bottom
                a.button.button_middle(href="" title="") Участвовать
        .product-preview__content
            .product-preview__title Легкое летнее платье с поясом
            .product-preview__price #[b 2100] руб.
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container.product-preview__photo-container_large
            img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                    .label до 01.08
                .product-preview__top-item
                    .button-mini
                        a.link-full(href="" title="")
                        i.icon.icon-delete
                        i.icon.icon-delete-active.icon_active
            .product-preview__bottom
                a.button.button_middle(href="" title="") Участвовать
        .product-preview__content
            .product-preview__title Легкое летнее платье с поясом
            .product-preview__price #[b 2100] руб.
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container.product-preview__photo-container_large
            img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                    .label до 01.08
                .product-preview__top-item
                    .button-mini
                        a.link-full(href="" title="")
                        i.icon.icon-delete
                        i.icon.icon-delete-active.icon_active
            .product-preview__bottom
                a.button.button_middle(href="" title="") Участвовать
        .product-preview__content
            .product-preview__title Легкое летнее платье с поясом
            .product-preview__price #[b 2100] руб.
.subsection
    .subsection__row
        .button.button_middle
            a.link-full(href="" title="")
            .button__name Показать еще
            .button__icon
                i.icon.icon-reload