.advantages
  background-image: $gradient, url("../img/pattern.png")
  padding: 6rem 0 8rem 0
  color: white
  position: relative
  &__bg
    +background("../img/pattern.png", 100%, repeat, center, center)
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-size: contain
  &__header
    text-align: center
    font-size: 3.6rem
    margin-bottom: 6rem
  &__container
    position: relative
  &__item
    text-align: center
    margin-bottom: 2rem
  &__img
    +flex(row wrap, center, center)
    background-color: white
    border-radius: 100%
    width: 20rem
    height: 20rem
    margin-bottom: 2.5rem
  &__description
    font-weight: 700
    font-size: 16px
  &__list
    +flex(row wrap, space-around, center)
    //display: grid
    //justify-content: space-evenly
    //grid-template-columns: repeat(auto-fit,minmax(200px,auto))
    //grid-template-rows: auto
    //grid-gap: 20px