.news
  +inner-grid(200px)
  grid-gap: 3rem
  margin-bottom: 4rem
  background-color: white
  padding: 2rem
  &__illustration
    grid-column: 1/2
  &__img
    width: 100%
    object-fit: cover
    object-position: left
  &__content
    grid-column: 2/5
  &__date
    +font(12px, 400, $gray)
    margin-bottom: 1.5rem

@import "media"