section.section.section_block.brands
    .inner
        .section__header
            h2.title Территория брендов
            .subtitle Товары от лучших производителей на TOOSHOP
        .brands__list
            .brands__item
                img.brands__img(src="../../img/brands/brand1.png" title="" alt="")
                img.brands__logo(src="../../img/brands/brand1-1.png" title="" alt="")
            .brands__item.brands__item_sale
                img.brands__img(src="../../img/brands/brand2.png" title="" alt="")
                img.brands__logo(src="../../img/brands/brand2-1.png" title="" alt="")
            .brands__item
                img.brands__img(src="../../img/brands/brand3.png" title="" alt="")
                img.brands__logo(src="../../img/brands/brand3-1.png" title="" alt="")