extends ../layout/layout
block title
    | category
block head
block content
    .section.section_block
        .inner
            .section__header
                h2.title Женская одежда и аксессуары
            include product-list/product-list1
            include product-list/product-list2
            include product-list/product-list3
            include popups/popup1
block end
