.checkbox
  min-width: 10px
  width: 10px
  height: 10px
  display: block
  border: 1px solid $gray
  position: relative
  &__activation
    &:checked
      & + .checkbox
        background-color: $color-active-bright
        border-color: $color-active-bright
        &:after
          content: ""
          display: block
          position: absolute
          top: 1px
          left: 1px
          border: 1px solid white
          width: 5px
          height: 3px
          border-top: none
          border-right: none
          transform: rotate(-50deg)