meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="stylesheet", href="../../css/style.css", media="all")
script(src="../../scripts/swiper/swiper.min.js")