extends ../layout/layout
block title
    | catalog
block head
    script(src="../../scripts/select/select.js" async="")
block content
    .section.section_clean
        .inner
            include braedcrumbs/braedcrumbs1
    .section.section_large
        .inner
            include popups/popup1
            include popups/popup2
            include products/product1
            include feedbacks/feedback1
            include product-list/product-list1
block end
