@import "font"
@import "../utility/utility"
.common
  font-size: 10px
  scroll-behavior: smooth
  *
    box-sizing: border-box
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    -webkit-tap-highlight-color: transparent
    outline: none
  &__body
    font-family: "Montserrat", sans-serif
    margin: 0
    font-size: 14px
    background-color: $bg
.app
  display: flex
  flex-flow: column nowrap
  min-height: 100vh
  position: relative
  label
    cursor: pointer
  input, button, select, textarea
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    outline: none
    font-family: inherit
  //input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder
  //  +font(18px, 500, $brand-color__text)
  //input:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder
  //  +font(18px, 500, $brand-color__text)
  //input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder
  //  +font(18px, 500, $brand-color__text)
  //input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder
  //  +font(18px, 500, $brand-color__text)
  textarea
    overflow: auto
  select, textarea
    &::-ms-expand
      display: none
  input[type='number']
    -moz-appearance: textfield
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    -webkit-appearance: none
    display: none
  a
    text-decoration: none
    color: $text
  main
    width: 100%
  .main
    +main-grid()
    flex-grow: 1
    color: $text
  .inner
    grid-column: 2
  .hidden
    display: none
  .link-full
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 50
    cursor: pointer
  .section
    +main-grid()
    padding-bottom: 7rem
    grid-column: 1 / 4
    &_large
      grid-template-columns: 1fr minmax(auto,1170px) 1fr
    &_bg-light
      background-color: white
    &_clean
      margin: 0
      padding: 0
    &_block
      padding-top: 4rem
    &__header
      margin-bottom: 3.5rem
      position: relative
  .subsection
    padding-bottom: 3.5rem!important
    &__row
      +flex(row wrap, center, center)
  .grid
    +inner-grid(200px)
    &_align-center
      align-items: center
      justify-content: space-between
    &_auto
      grid-gap: 5px
      grid-template-columns: repeat(auto-fit,minmax(184px,auto))
  .content-block
    background-color: white
    margin-bottom: 15px
    position: relative
    &_inner
      padding: 2rem
    &:last-child
      margin-bottom: 0
  .delimiter
    width: 100%
    margin: 2.4rem 0
    border-bottom: 1px solid $white
  .anchor
    position: absolute
    z-index: -1
    top: 0
    left: 0

  @import "media"