@font-face
  src: url('../fonts/Montserrat-ThinItalic.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 100
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-Thin.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 100
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 200
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 200
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-LightItalic.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 300
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-Light.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 300
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-Italic.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 400
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 400
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-MediumItalic.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 500
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 500
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 600
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 600
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-BoldItalic.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 700
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 700
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 800
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 800
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-BlackItalic.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 900
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/Montserrat-Black.ttf') format('truetype')
  font-family: "Montserrat"
  font-weight: 900
  font-display: swap




@font-face
  src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype')
  font-family: "OpenSans"
  font-weight: 300
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/OpenSans-Light.ttf') format('truetype')
  font-family: "OpenSans"
  font-weight: 300
  font-display: swap

@font-face
  src: url('../fonts/OpenSans-RegularItalic.ttf') format('truetype')
  font-family: "OpenSans"
  font-weight: 400
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype')
  font-family: "OpenSans"
  font-weight: 400
  font-display: swap

@font-face
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype')
  font-family: "OpenSans"
  font-weight: 600
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype')
  font-family: "OpenSans"
  font-weight: 600
  font-display: swap

@font-face
  src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype')
  font-family: "OpenSans"
  font-weight: 700
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype')
  font-family: "OpenSans"
  font-weight: 700
  font-display: swap

@font-face
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype')
  font-family: "OpenSans"
  font-weight: 800
  font-style: italic
  font-display: swap

@font-face
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype')
  font-family: "OpenSans"
  font-weight: 800
  font-display: swap
