@media (max-width: 1024px)
  .main
    padding-top: 6.7rem
    grid-template-columns: 1fr minmax(auto,calc(100% - 2rem)) 1fr
    grid-gap: 0 10px

  .section
    grid-template-columns: 1fr minmax(auto,calc(100% - 2rem)) 1fr
    grid-gap: 0 10px
    &_large
      grid-template-columns: 1fr minmax(auto,calc(100% - 2rem)) 1fr
      grid-gap: 0 10px

  .grid
    grid-gap: 15px 5px
    justify-items: center
    &_auto
      justify-content: center
    &_standart
      grid-gap: 0
      justify-items: initial