.faq
    .faq__sidebar
        include ../sidebar/sidebar
    .faq__content
        input.hidden.faq__activation(type="radio" name="faq" id="faq__deactivation")
        .faq__row
            input.hidden.faq__activation(type="radio" name="faq" id="faq__activation")
            .faq__item Вопрос Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                label.link-full.faq__activation-link(for="faq__activation")
                label.link-full.faq__deactivation-link(for="faq__deactivation")
                .faq__activation-label
                    .faq__label-line.faq__label-line_vertical
                    .faq__label-line
            .faq__answer
                .faq__answer-inner
                    p Ответ
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis delectus deleniti enim ipsa laborum, laudantium magnam nisi odit omnis quas quia quibusdam tempora tenetur ullam vel vitae voluptatem!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis delectus deleniti enim ipsa laborum, laudantium magnam nisi odit omnis quas quia quibusdam tempora tenetur ullam vel vitae voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis delectus deleniti enim ipsa laborum, laudantium magnam nisi odit omnis quas quia quibusdam tempora tenetur ullam vel vitae voluptatem!
        .faq__row
            input.hidden.faq__activation(type="radio" name="faq" id="faq__activation2")
            .faq__item Вопрос Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                label.link-full.faq__activation-link(for="faq__activation2")
                label.link-full.faq__deactivation-link(for="faq__deactivation")
                .faq__activation-label
                    .faq__label-line.faq__label-line_vertical
                    .faq__label-line
            .faq__answer
                .faq__answer-inner
                    p Ответ
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis delectus deleniti enim ipsa laborum, laudantium magnam nisi odit omnis quas quia quibusdam tempora tenetur ullam vel vitae voluptatem!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis delectus deleniti enim ipsa laborum, laudantium magnam nisi odit omnis quas quia quibusdam tempora tenetur ullam vel vitae voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis delectus deleniti enim ipsa laborum, laudantium magnam nisi odit omnis quas quia quibusdam tempora tenetur ullam vel vitae voluptatem!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis delectus deleniti enim ipsa laborum, laudantium magnam nisi odit omnis quas quia quibusdam tempora tenetur ullam vel vitae voluptatem!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis delectus deleniti enim ipsa laborum, laudantium magnam nisi odit omnis quas quia quibusdam tempora tenetur ullam vel vitae voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis delectus deleniti enim ipsa laborum, laudantium magnam nisi odit omnis quas quia quibusdam tempora tenetur ullam vel vitae voluptatem!
        .faq__row
            input.hidden.faq__activation(type="radio" name="faq" id="faq__activation3")
            .faq__item Вопрос Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                label.link-full.faq__activation-link(for="faq__activation3")
                label.link-full.faq__deactivation-link(for="faq__deactivation")
                .faq__activation-label
                    .faq__label-line.faq__label-line_vertical
                    .faq__label-line
            .faq__answer
                .faq__answer-inner
                    p Ответ
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis delectus deleniti enim ipsa laborum, laudantium magnam nisi odit omnis quas quia quibusdam tempora tenetur ullam vel vitae voluptatem!