.sidebar
    .sidebar__block.sidebar__block_bg
        .sidebar__item
            a(href="" title="") Избранное
        .sidebar__item
            a(href="" title="") Мои товары
        .sidebar__item
            a(href="" title="") Мои конкурсы
        .sidebar__item
            a(href="" title="") Мои аукционы
        .sidebar__item
            a(href="" title="") Мои запросы
        .sidebar__item.sidebar__item_active
            a(href="" title="") Профиль