section.subsection.catalog
    .catalog__header
        h2.title Аукционы
        .button-group
            .button-group__item
                select.select.select_bright.turnintodropdown
                    option(hidden="" disabled="" selected="" style="display:none;") Сортировать
                    option 1
                    option 2
            .button-group__item
                .view
                    .view__item
                        label.link-full(for="view-grid")
                        input.hidden.view__activation.view-grid(type="radio" name="view" id="view-grid" checked="")
                        i.icon.icon-view-grid
                        i.icon.icon-view-grid-active.icon_active
                    .view__item
                        label.link-full(for="view-list")
                        input.hidden.view__activation.view-list(type="radio" name="view" id="view-list")
                        i.icon.icon-view-list
                        i.icon.icon-view-list-active.icon_active
    .catalog__list
        .grid
            .product-preview.section_bg-light
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product4.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation1")
                                label.link-full(for="like-activation1")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Вилла «Skazka House», 1 300 м#[sup 2]
                        .product-preview__subtitle 06.06.2018 15:13:00
                    .product-preview__description
                        p Двухкомнатная уютная квартира на длительный срок. В квартире есть все необходимое. Порядочные соседи. Подъезд чистый. Рядом большой парк где можно гулять с детьми.
                    .product-preview__row
                        .product-preview__subtitle Рейтинг продавца
                        .product-preview__rating
                            .rating.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                    .product-preview__row
                        .product-preview__price #[b 12 250 800] руб.
                        .product-preview__buy-button
                            .button
                                a.link-full(href="" title="")
                                .button__name Ставка
                                .button__icon
                                    i.icon.icon-hammer
            .product-preview.section_bg-light
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product5.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation2")
                                label.link-full(for="like-activation2")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Вилла «Skazka House», 1 300 м#[sup 2]
                        .product-preview__subtitle 06.06.2018 15:13:00
                    .product-preview__description
                        p Двухкомнатная уютная квартира на длительный срок. В квартире есть все необходимое. Порядочные соседи. Подъезд чистый. Рядом большой парк где можно гулять с детьми.
                    .product-preview__row
                        .product-preview__subtitle Рейтинг продавца
                        .product-preview__rating
                            .rating.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                    .product-preview__row
                        .product-preview__price #[b 12 250 800] руб.
                        .product-preview__buy-button
                            .button
                                a.link-full(href="" title="")
                                .button__name Ставка
                                .button__icon
                                    i.icon.icon-hammer
            .product-preview.section_bg-light
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product6.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation3")
                                label.link-full(for="like-activation3")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Вилла «Skazka House», 1 300 м#[sup 2]
                        .product-preview__subtitle 06.06.2018 15:13:00
                    .product-preview__description
                        p Двухкомнатная уютная квартира на длительный срок. В квартире есть все необходимое. Порядочные соседи. Подъезд чистый. Рядом большой парк где можно гулять с детьми.
                    .product-preview__row
                        .product-preview__subtitle Рейтинг продавца
                        .product-preview__rating
                            .rating.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                    .product-preview__row
                        .product-preview__price #[b 12 250 800] руб.
                        .product-preview__buy-button
                            .button
                                a.link-full(href="" title="")
                                .button__name Ставка
                                .button__icon
                                    i.icon.icon-hammer
            .product-preview.section_bg-light
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product7.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation4")
                                label.link-full(for="like-activation4")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Вилла «Skazka House», 1 300 м#[sup 2]
                        .product-preview__subtitle 06.06.2018 15:13:00
                    .product-preview__description
                        p Двухкомнатная уютная квартира на длительный срок. В квартире есть все необходимое. Порядочные соседи. Подъезд чистый. Рядом большой парк где можно гулять с детьми.
                    .product-preview__row
                        .product-preview__price #[b 12 250 800] руб.
                    .product-preview__row
                        .product-preview__subtitle Рейтинг продавца
                        .product-preview__rating
                            .rating.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                        .product-preview__buy-button
                            .button
                                a.link-full(href="" title="")
                                .button__name Ставка
                                .button__icon
                                    i.icon.icon-hammer
            .product-preview.section_bg-light.product-preview_large
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product7.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation4")
                                label.link-full(for="like-activation4")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                .product-preview__content
                    .product-preview__row
                        .product-preview__title Вилла «Skazka House», 1 300 м#[sup 2]
                        .product-preview__subtitle 06.06.2018 15:13:00
                    .product-preview__description
                        p Двухкомнатная уютная квартира на длительный срок. В квартире есть все необходимое. Порядочные соседи. Подъезд чистый. Рядом большой парк где можно гулять с детьми.
                    .product-preview__row
                        .product-preview__price #[b 12 250 800] руб.
                    .product-preview__row
                        .product-preview__subtitle Рейтинг продавца
                        .product-preview__rating
                            .rating.rating_5
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                        .product-preview__buy-button
                            .button
                                a.link-full(href="" title="")
                                .button__name Ставка
                                .button__icon
                                    i.icon.icon-hammer
    .catalog__footer
        include ../pagenation/pagenation
    .catalog__sidebar
        include ../sidebar/sidebar
