.like
  +flex(row wrap, center, center)
  padding: 8px
  position: relative
  z-index: 60
  background-color: white
  box-shadow: 0px 0px 12px 0px rgba(80, 79, 79, 0.2)
  &:hover
    .icon
      display: none
    .icon_active
      display: inline-block
  &_large
    padding: 7.5px 16px
    border: none
  &_clean
    border: none
    padding: 0
    box-shadow: none
  &__activation
    &:checked
      & ~ .icon
        display: none
      & ~ .icon_active
        display: inline-block
  &__link
    font-size: 14px
    color: $color-active
    border-bottom: 1px dashed
    margin-left: 1.5rem
    padding-bottom: 3px
