extends ../layout/layout
block title
    | news
block head
block content
    section.section.section_block.section_clean
        .inner
            .section__header
                h2.title Новости
    section.section.section_large
        .inner
            include news-list/news-list
block end