extends ../layout/layout-user
block title
    | user
block head
block content
    style.
        .app .header-main__authorization {display: none;}
        .app .header-main__authorization_user {display: flex;}
        .app .header-mobile__menu-item_autoriztion {display: none;}
        .app .header-mobile__menu-item_user {display: flex;}
    section.section.section_block
        .inner
            include content/content
block end
