.popup
  +flex(row wrap, center, center)
  position: fixed
  width: 100%
  height: 100%
  left: 0
  top: 0
  display: none
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 500
  &__activation
    &:checked
      & + .popup
        display: flex
  &__close
    display: flex
    position: absolute
    top: 0
    right: 0
    padding: 2rem
  &__content
    position: relative
    z-index: 200
    background-color: white
  &__inner
    padding: 4rem