.braedcrumbs
    a.braedcrumbs__item(href="" title="") TooSho
    a.braedcrumbs__item(href="" title="") Аукционы
    a.braedcrumbs__item(href="" title="") Недвижимость
    a.braedcrumbs__item(href="" title="") Skazka House
