.section__header
    a.anchor(name="competitions")
    h2.title Мои конкурсы
section.grid.subsection
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container.product-preview__photo-container_large
            img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                    .label до 01.08
                .product-preview__top-item
                    .button-group
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Удалить")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Редактировать")
                                i.icon.icon-edit
                                i.icon.icon-edit-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Отправить в архив")
                                i.icon.icon-box
                                i.icon.icon-box-active.icon_active
            .product-preview__bottom
                a.button.button_middle(href="" title="") Участвовать
        .product-preview__content
            .product-preview__title Легкое летнее платье с поясом
            .product-preview__price #[b 2100] руб.
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container.product-preview__photo-container_large
            img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                    .label до 01.08
                .product-preview__top-item
                    .button-group
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Удалить")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Редактировать")
                                i.icon.icon-edit
                                i.icon.icon-edit-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Отправить в архив")
                                i.icon.icon-box
                                i.icon.icon-box-active.icon_active
            .product-preview__bottom
                a.button.button_middle(href="" title="") Участвовать
        .product-preview__content
            .product-preview__title Легкое летнее платье с поясом
            .product-preview__price #[b 2100] руб.
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container.product-preview__photo-container_large
            img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                    .label до 01.08
                .product-preview__top-item
                    .button-group
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Удалить")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Редактировать")
                                i.icon.icon-edit
                                i.icon.icon-edit-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Отправить в архив")
                                i.icon.icon-box
                                i.icon.icon-box-active.icon_active
            .product-preview__bottom
                a.button.button_middle(href="" title="") Участвовать
        .product-preview__content
            .product-preview__title Легкое летнее платье с поясом
            .product-preview__price #[b 2100] руб.
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container.product-preview__photo-container_large
            img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                    .label до 01.08
                .product-preview__top-item
                    .button-group
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Удалить")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Редактировать")
                                i.icon.icon-edit
                                i.icon.icon-edit-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Отправить в архив")
                                i.icon.icon-box
                                i.icon.icon-box-active.icon_active
            .product-preview__bottom
                a.button.button_middle(href="" title="") Участвовать
        .product-preview__content
            .product-preview__title Легкое летнее платье с поясом
            .product-preview__price #[b 2100] руб.
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container.product-preview__photo-container_large
            img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                    .label до 01.08
                .product-preview__top-item
                    .button-group
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Удалить")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Редактировать")
                                i.icon.icon-edit
                                i.icon.icon-edit-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Отправить в архив")
                                i.icon.icon-box
                                i.icon.icon-box-active.icon_active
            .product-preview__bottom
                a.button.button_middle(href="" title="") Участвовать
        .product-preview__content
            .product-preview__title Легкое летнее платье с поясом
            .product-preview__price #[b 2100] руб.
    .product-preview.section_bg-light
        a.link-full(href="" title="")
        .product-preview__photo-container.product-preview__photo-container_large
            img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
            .product-preview__top
                .product-preview__top-item
                    .label до 01.08
                .product-preview__top-item
                    .button-group
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Удалить")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Редактировать")
                                i.icon.icon-edit
                                i.icon.icon-edit-active.icon_active
                        .button-group__item
                            .button-mini
                                a.link-full(href="" title="Отправить в архив")
                                i.icon.icon-box
                                i.icon.icon-box-active.icon_active
            .product-preview__bottom
                a.button.button_middle(href="" title="") Участвовать
        .product-preview__content
            .product-preview__title Легкое летнее платье с поясом
            .product-preview__price #[b 2100] руб.
.subsection
    .subsection__row
        a.button.button_middle(href="" title="") Смотреть все