.form
  width: 100%
  min-width: 30rem
  margin: 0 auto
  background: white
  background: $gradient
  padding: 1.5rem
  &_short
    max-width: 50rem
  &__inner
    padding: 3rem
    background-color: white
  &__row
    margin-bottom: 2rem
    &:last-of-type
      margin-bottom: 0
  &__group
    +flex(row wrap, flex-start, flex-satrt)
    margin: 0 -0.7rem
  &__group-col
    flex-grow: 1
    margin: 0 0.7rem 2rem 0.7rem
  &__button
    +flex(row wrap, center, center)
