.header-menu
  +main-grid()
  grid-column: 1 / 4
  background-color: #ff4747
  background-image: $gradient
  &__list
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
    grid-template-rows: auto
    justify-content: space-between
  &__item
    padding: 10px 0
    color: $white
    display: block
    font-size: 16px
    text-align: center
    &_active
      background-color: $color-active-dim
    &:hover
      background-color: $color-active-dim
  &__item_important
    position: relative
    &:after
      content: '!'
      +flex(row nowrap, center, center)
      +font(10px, 700, $color-active)
      font-size: 10px
      position: absolute
      right: -7px
      top: -3px
      background-color: white
      border-radius: 100%
      min-width: 1.5rem
      height: 1.5rem