.header-main
    .inner
        .grid.grid_align-center.grid_auto
            .header-main__logo
                a.link-full(href="" title="")
                img.header-main__logo-img(src="../../img/logo.png" title="" alt="")
                .header-main__logo-caption
                    .header-main__logo-title
                        span.light TOO
                        span.extrabold SHOP
                    .header-main__logo-subtitle аукцион это просто
            .header-main__search
                input.search(type="search" placeholder="Я ищу...")
            .header-main__product
                //.header-main__product-button
                //    a.link-full(href="" title="")
                //    i.icon.icon-basket
                //        span.header-main__product-count 2
                //    .header-main__product-button-name Корзина
                .header-main__product-button
                    a.link-full(href="" title="")
                    i.icon.icon-heart
                        span.header-main__product-count 2
                    .header-main__product-button-name Избранное
            .header-main__authorization.header-main__authorization_user
                .person
                    img.person__photo(src="../../img/user.jpg" title="" alt="")
                    .person__info
                        .person__row
                            a.link(href="" title="") Савельев Антон
                        .person__row
                            a.header-main__authorization-item(href="" title="") Выход
            .header-main__authorization
                a.header-main__authorization-item(href="" title="") Вход
                .header-main__authorization-delimiter или
                a.header-main__authorization-item(href="" title="") Регистрация