.sidebar
    .sidebar__block.sidebar__block_bg
        .sidebar__item.sidebar__item_active
            a(href="" title="") Вопросы по оплате
        .sidebar__item
            a(href="" title="") Вопросы по безопасности
        .sidebar__item
            a(href="" title="") Информация по товару
        .sidebar__item
            a(href="" title="") Рассылки
        .sidebar__item
            a(href="" title="") Аккаунт
        .sidebar__item
            a(href="" title="") Информация об аукционах