.catalog
  +inner-grid(200px)
  grid-gap: 3rem
  align-items: start
  &__list
    grid-column: 1 / 4
    &_grid
      .product-preview
        display: grid
        grid-template-columns: repeat(auto-fit,minmax(195px,1fr))
        grid-template-rows: auto
        grid-gap: 5rem 3rem
        max-width: 100%
        grid-column: 1
        .product-preview__bottom
          display: none
        .product-preview__bottom_grid
          display: block
          opacity: 1
        .product-preview__photo-container_large, .product-preview__photo-container
          min-height: 18rem
        .product-preview__photo-container,
        .product-preview__subtitle,
        .product-preview__title
          margin-bottom: 0
        .product-preview__content
          grid-column: 2 / 4
          padding: 2rem 10px 10px 0
        .product-preview__title
          font-size: 1.8rem
        .product-preview__subtitle
          font-size: 14px
  &__header
    +flex(row wrap, space-between, center)
    grid-column: 1 / 4
    margin-bottom: -10px
    .title
      margin-bottom: 10px
  &__footer
    grid-column: 2 / 4
  &__sidebar
    grid-column: 4 / 5
    grid-row: 2 / 4
    position: sticky
    top: 0
  &__item
    grid-column: 1 / 4

@import "media"

