@media (max-width: 940px)
  .catalog
    &__sidebar
      grid-column: 1
      position: relative
    &__header
      grid-column: 1
    &__list
      grid-column: 1
      justify-items: center
    &__footer
      grid-column: 1
    &__item
      grid-column: 1

@media (max-width: 695px)
  .catalog
    &__list
      &_grid
        .product-preview
          grid-gap: 1rem
          .product-preview__content
            grid-column: auto
            padding: 10px
