section.section.category
    .inner
        .category__container
            .category__menu
                .section__header
                    h3.title-secondary Категории
                nav.aside-menu
                    input.hidden.aside-menu__activation(type="checkbox" id="aside-menu-activation")
                    .aside-menu__item Женская одежда и аксессуары
                        a.link-full(href="" title="")
                        .aside-menu__sub
                            .aside-menu__sub-list
                                .aside-menu__sub-col
                                    a.aside-menu__sub-item(href="" title="") Платья
                                    a.aside-menu__sub-item(href="" title="") Свитера
                                    a.aside-menu__sub-item(href="" title="") Штаны
                                    a.aside-menu__sub-item(href="" title="") Нижнее белье
                                    a.aside-menu__sub-item(href="" title="") Пиджаки и костюмы
                                .aside-menu__sub-col
                                    a.aside-menu__sub-item(href="" title="") Блузки и рубашки
                                    a.aside-menu__sub-item(href="" title="") Куртки и пальто
                                    a.aside-menu__sub-item(href="" title="") Комбинезоны
                                    a.aside-menu__sub-item(href="" title="") Носки и чулочные изделия
                                    a.aside-menu__sub-item(href="" title="") Худи и толстовки
                                .aside-menu__sub-col
                                    a.aside-menu__sub-item(href="" title="") Украшения
                                    a.aside-menu__sub-item(href="" title="") Топы и футболки
                                    a.aside-menu__sub-item(href="" title="") Боди
                                    a.aside-menu__sub-item(href="" title="") Пижамы
                    .aside-menu__item Мужская одежда
                        a.link-full(href="" title="")
                        .aside-menu__sub
                            .aside-menu__sub-list
                                .aside-menu__sub-col
                                    a.aside-menu__sub-item(href="" title="") Платья
                                    a.aside-menu__sub-item(href="" title="") Свитера
                                    a.aside-menu__sub-item(href="" title="") Штаны
                                    a.aside-menu__sub-item(href="" title="") Нижнее белье
                                    a.aside-menu__sub-item(href="" title="") Пиджаки и костюмы
                                .aside-menu__sub-col
                                    a.aside-menu__sub-item(href="" title="") Блузки и рубашки
                                    a.aside-menu__sub-item(href="" title="") Куртки и пальто
                                    a.aside-menu__sub-item(href="" title="") Комбинезоны
                                    a.aside-menu__sub-item(href="" title="") Носки и чулочные изделия
                                    a.aside-menu__sub-item(href="" title="") Худи и толстовки
                    .aside-menu__item Детская одежда
                    .aside-menu__item Одежда и обувь
                    .aside-menu__item Все для отпуска
                    .aside-menu__item Материалы для ремонта
                    .aside-menu__item Спорт и хобби
                    .aside-menu__item.aside-menu__item_no-arrow Бижутерия и часы
                    label.button.button_gray.aside-menu__button-activation(for="aside-menu-activation")
                        span.button_with-arrow Все категории
                    .aside-menu__item.aside-menu__item_hidden Доп.пункт 1
                    .aside-menu__item.aside-menu__item_hidden Доп.пункт 1
            .category__slider
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img.category__slider-img(src="../../img/sliders/slide1.png" title="" alt="")
                            .category__slider-content
                                .category__slider-title Лучшее этой недели
                                .category__slider-description Скидки до 30% на товары для дома и сада
                        .swiper-slide
                            img.category__slider-img(src="../../img/sliders/slide1.png" title="" alt="")
                            .category__slider-content
                                .category__slider-title Лучшее этой недели
                                .category__slider-description Скидки до 30% на товары для дома и сада
                        .swiper-slide
                            img.category__slider-img(src="../../img/sliders/slide1.png" title="" alt="")
                            .category__slider-content
                                .category__slider-title Лучшее этой недели
                                .category__slider-description Скидки до 30% на товары для дома и сада
                        .swiper-slide
                            img.category__slider-img(src="../../img/sliders/slide1.png" title="" alt="")
                            .category__slider-content
                                .category__slider-title Лучшее этой недели
                                .category__slider-description Скидки до 30% на товары для дома и сада
                    .swiper-pagination
script.
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        autoplay: {
            delay: 3000,
        },
        loop: true,
    });