=flex($flex-flow, $justify-content, $align-items)
  display: flex
  flex-flow: $flex-flow
  justify-content: $justify-content
  align-items: $align-items

=general-offset($top, $bottom)
  padding: $top 2rem $bottom 2rem

=font($size, $weight, $color)
  font-size: $size
  font-weight: $weight
  color: $color

=background($url, $size, $repeat, $position-x, $position-y)
  background-image: url($url)
  background-size: $size
  background-repeat: $repeat
  background-position: $position-x $position-y

=main-grid()
  display: grid
  grid-template-columns: 1fr minmax(auto, 1140px) 1fr
  grid-template-rows: auto
  grid-gap: 0 15px

=inner-grid($min)
  display: grid
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr))
  grid-gap: 3rem
  grid-template-rows: auto
  justify-content: flex-start