@media (max-width: 860px)
  .product-preview
    &__bottom
      opacity: 1

@media (max-width: 695px)
  .product-preview_large
    grid-gap: 1rem
    .product-preview__content
      grid-column: auto
      padding: 10px