.product-preview
  position: relative
  max-width: 26.5rem
  width: 100%
  transition: box-shadow 0.3s linear
  &:hover
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25)
    .product-preview__bottom
      opacity: 1
  &_no-shaow
    &:hover
      box-shadow: none
  &_large
    display: grid
    grid-template-columns: repeat(auto-fit,minmax(195px,1fr))
    grid-template-rows: auto
    grid-gap: 5rem 3rem
    max-width: 100%
    grid-column: 1
    .product-preview__photo-container,
    .product-preview__subtitle,
    .product-preview__title
      margin-bottom: 0
    .product-preview__content
      grid-column: 2 / 4
      padding: 2rem 10px 10px 0
    .product-preview__title
      font-size: 1.8rem
    .product-preview__subtitle
      font-size: 14px
  &__rating
    margin-right: 15px
    flex-grow: 1
  &__row
    +flex(row wrap, space-between, baseline)
    margin-bottom: 5px
    & > *
      margin-bottom: 5px!important
    &:last-child
      margin-bottom: 0
  &__top
    +flex(row nowrap, space-between, center)
    position: relative
    width: 100%
  &__bottom
    opacity: 0
    transition: opacity 0.2s linear
    position: relative
    &_grid
      display: none
  &__photo-container
    +flex(column nowrap, space-between, center)
    position: relative
    min-height: 17rem
    padding: 10px
    margin-bottom: 15px
    &_large
      min-height: 31rem
      padding: 15px 15px 20px 15px
  &__photo
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    object-fit: cover
  &__content
    padding: 0 15px 15px 15px
  &__title
    margin-bottom: 2rem
    &:last-child
      margin-bottom: 0
  &__subtitle
    +font(12px, 400, $gray)
    margin-bottom: 10px
    margin-right: 15px
  &__price
    color: $color-active
  &__description
    +font(10px, 400, $gray)
    line-height: 1.8
    margin-bottom: 15px
    //max-width: 75%

@import "media"
