.sidebar
  position: sticky
  top: 2rem
  &__block
    margin-bottom: 1.5rem
    &:last-of-type
      margin-bottom: 0
    &_bg
      background-color: white
      padding: 0 1.5rem
  &__item
    padding: 2rem 0
    border-bottom: 1px solid $white
    &_active
      +flex(row nowrap, flex-start, center)
      color: $color-active
      &:before
        content: ""
        margin-right: 15px
        display: block
        width: 5px
        height: 5px
        border: 1px solid $color-active
        border-bottom: none
        border-left: none
        transform: rotate(-135deg)
      a
        color: inherit
    &:last-of-type
      border-bottom: none
  &__title
    font-size: 12px
    margin-bottom: 10px
  &__button
    min-width: 18rem
    width: min-content
    margin: 0 auto
