.view
  +flex(row wrap, flex-start, stretch)
  &__item
    +flex(row wrap, center, center)
    background-color: white
    width: 4rem
    height: 4rem
    position: relative
    margin-right: 1.5rem
    &:last-of-type
      margin-right: 0
    &:hover
      .icon
        display: none
      .icon_active
        display: inline-block
  &__activation
    &:checked
      & ~ .icon
        display: none
      & ~ .icon_active
        display: inline-block