.social
  +flex(row wrap, flex-start, center)
  &__link
    margin-right: 13px
    &:last-of-type
      margin-right: 0
    &:hover
      .icon
        display: none
      .icon_active
        display: inline-block