.search
  +background("../img/icons/search.svg", 1.8rem, no-repeat, left, top)
  border: none
  width: 100%
  background-color: none
  border-bottom: 1px solid $border
  padding: 0 0 1.5rem 4rem
  font-size: 14px
  &_mobile
    background: none
    padding: 0 0 10px 10px

.search::-webkit-input-placeholder
  font-size: 14px
  font-style: italic
.search:-moz-placeholder
  font-size: 14px
  font-style: italic
.search::-moz-placeholder
  font-size: 14px
  font-style: italic
.search:-ms-input-placeholder
  font-size: 14px
  font-style: italic