.icon
  display: inline-block
  position: relative
  &_active
    display: none
.icon-vk
  +background("../img/icons/vk.svg", contain, no-repeat, center, center)
  width: 14px
  height: 14px
.icon-vk-gray
  +background("../img/icons/vk-gray.svg", contain, no-repeat, center, center)
  width: 14px
  height: 14px
.icon-vk-active
  +background("../img/icons/vk-active.svg", contain, no-repeat, center, center)
  width: 14px
  height: 14px
.icon-face
  +background("../img/icons/face.svg", contain, no-repeat, center, center)
  width: 14px
  height: 14px
.icon-face-gray
  +background("../img/icons/face-gray.svg", contain, no-repeat, center, center)
  width: 14px
  height: 14px
.icon-face-active
  +background("../img/icons/face-active.svg", contain, no-repeat, center, center)
  width: 14px
  height: 14px
.icon-insta
  +background("../img/icons/insta.svg", contain, no-repeat, center, center)
  width: 14px
  height: 14px
.icon-insta-gray
  +background("../img/icons/insta-gray.svg", contain, no-repeat, center, center)
  width: 14px
  height: 14px
.icon-insta-active
  +background("../img/icons/insta-active.svg", contain, no-repeat, center, center)
  width: 14px
  height: 14px
.icon-shield
  +background("../img/icons/shield.svg", contain, no-repeat, center, center)
  width: 90px
  height: 110px
.icon-shield-small
  +background("../img/icons/shield.svg", contain, no-repeat, center, center)
  width: 20px
  height: 20px
.icon-invoice-small
  +background("../img/icons/invoice.svg", contain, no-repeat, center, center)
  width: 20px
  height: 20px
.icon-invoice
  +background("../img/icons/invoice.svg", contain, no-repeat, center, center)
  width: 90px
  height: 110px
.icon-wallet
  +background("../img/icons/wallet.svg", contain, no-repeat, center, center)
  width: 100px
  height: 110px
.icon-heart
  +background("../img/icons/heart.svg", contain, no-repeat, center, center)
  width: 26px
  height: 25px
.icon-heart-white
  +background("../img/icons/heart-white.svg", contain, no-repeat, center, center)
  width: 26px
  height: 25px
.icon-heart-big-active
  +background("../img/icons/heart-big-active.svg", contain, no-repeat, center, center)
  width: 26px
  height: 25px
.icon-basket
  +background("../img/icons/basket.svg", contain, no-repeat, center, center)
  width: 25px
  height: 25px
.icon-basket-white
  +background("../img/icons/basket-white.svg", contain, no-repeat, center, center)
  width: 25px
  height: 25px
.icon-basket-gray
  +background("../img/icons/basket-gray.svg", contain, no-repeat, center, center)
  width: 15px
  height: 15px
.icon-heart-gray
  +background("../img/icons/heart-gray.svg", contain, no-repeat, center, center)
  width: 18px
  height: 15px
.icon-heart-active
  +background("../img/icons/heart-active.svg", contain, no-repeat, center, center)
  width: 18px
  height: 15px
.icon-delete
  +background("../img/icons/delete.svg", contain, no-repeat, center, center)
  width: 10px
  height: 10px
.icon-delete-active
  +background("../img/icons/delete-active.svg", contain, no-repeat, center, center)
  width: 10px
  height: 10px
.icon-box
  +background("../img/icons/box.svg", contain, no-repeat, center, center)
  width: 10px
  height: 10px
.icon-box-active
  +background("../img/icons/box-active.svg", contain, no-repeat, center, center)
  width: 10px
  height: 10px
.icon-edit
  +background("../img/icons/edit.svg", contain, no-repeat, center, center)
  width: 10px
  height: 10px
.icon-edit-active
  +background("../img/icons/edit-active.svg", contain, no-repeat, center, center)
  width: 10px
  height: 10px
.icon-hammer
  +background("../img/icons/hammer.svg", contain, no-repeat, center, center)
  width: 15px
  height: 15px
.icon-star
  +background("../img/icons/star.svg", contain, no-repeat, center, center)
  width: 12px
  height: 12px
.icon-star-active
  +background("../img/icons/star-active.svg", contain, no-repeat, center, center)
  width: 12px
  height: 12px
.icon-view-grid
  +background("../img/icons/view-grid.svg", contain, no-repeat, center, center)
  width: 15px
  height: 15px
.icon-view-grid-active
  +background("../img/icons/view-grid-active.svg", contain, no-repeat, center, center)
  width: 15px
  height: 15px
.icon-view-list
  +background("../img/icons/view-list.svg", contain, no-repeat, center, center)
  width: 15px
  height: 15px
.icon-view-list-active
  +background("../img/icons/view-list-active.svg", contain, no-repeat, center, center)
  width: 15px
  height: 15px
.icon-reload
  +background("../img/icons/reload.svg", contain, no-repeat, center, center)
  width: 15px
  height: 15px
.icon-plus
  +background("../img/icons/plus.svg", contain, no-repeat, center, center)
  width: 15px
  height: 15px
.icon-location
  +background("../img/icons/location.svg", contain, no-repeat, center, center)
  width: 15px
  height: 15px
.icon-menu
  +background("../img/icons/menu.svg", contain, no-repeat, center, center)
  width: 25px
  height: 25px
.icon-home
  +background("../img/icons/home.svg", contain, no-repeat, center, center)
  width: 23px
  height: 23px
.icon-search
  +background("../img/icons/search.svg", contain, no-repeat, center, center)
  width: 25px
  height: 25px
.icon-login
  +background("../img/icons/login.svg", contain, no-repeat, center, center)
  width: 25px
  height: 25px
.icon-logout
  +background("../img/icons/logout.svg", contain, no-repeat, center, center)
  width: 25px
  height: 25px
.icon-registration
  +background("../img/icons/registration.svg", contain, no-repeat, center, center)
  width: 25px
  height: 25px
