.category
  background-color: white
  padding: 3rem 0
  &__container
    display: grid
    grid-template-rows: auto
    justify-content: space-between
    grid-gap: 0
    grid-template-columns: repeat(12,minmax(8.333%,1fr))
  &__slider
    grid-column: 5 / 13
    align-self: start
  &__menu
    grid-column: 1 / 4
  .swiper-slide
    border: 1.5rem solid $color-active
  &__slider-img
    width: 100%
    object-fit: cover
    height: 100%
    display: block
  &__slider-content
    +flex(column nowrap, center, flex-start)
    position: absolute
    top: 0
    left: 0
    padding: 3rem 2.7rem 0 6.5rem
    height: 100%
    max-width: 45%
    background-color: rgba(0, 0, 0, 0.5)
    color: white
    display: none
  &__slider-title
    text-transform: uppercase
    font-size: 3rem
    font-weight: 700
    margin-bottom: 10px
    line-height: 1.4
  &__slider-description
    font-size: 1.9rem

@import "media"