.banner
  +background("../img/banners/banner-bg.png", cover, no-repeat, center, center)
  padding: 11rem 0 9rem 0
  position: relative
  &__bg
    background: rgba(241, 243, 245, 0.9)
    width: 100%
    position: absolute
    height: 100%
    left: 0
    top: 0
    z-index: 0
  &__container
    +flex(row nowrap, flex-start, stretch)
    position: relative
  &__content
    +flex(column nowrap, space-between, flex-start)
    padding-left: 5rem
  &__illustartion-img
    width: 100%
    height: 100%
    min-width: 19rem
    max-width: 30rem
    max-height: 30rem
    object-fit: contain
    object-position: bottom
  &__title
    font-size: 7.2rem
    margin-top: -25px

@import "media"