@media (max-width: 1170px)
  .banner
    &__title
      font-size: 5vmax
      margin-top: 0

@media (max-width: 570px)
  .banner
    &__container
      flex-wrap: wrap
      justify-content: center
    &__content
      padding-left: 0
      align-items: center
    &__illustartion-img
      max-width: 20rem
    &__illustartion
      margin-bottom: 2rem
    &__title
      text-align: center
    &__button
      margin-top: 2rem