extends ../layout/layout
block title
    | catalog
block head
    script(src="../../scripts/select/select.js" async="")
block content
    .section.section_clean
        .inner
            include braedcrumbs/braedcrumbs1
    .section.section_large
        .inner
            include popups/popup
            include products/product3
            include products/product1
            include products/product2
block end
