form.form
    .form__inner
        .form__row
            .input-group
                .input-group__label
                    label Аватар
                .input-group__input
                    input.input.input_file(type="file")
        .form__row
            .input-group
                .input-group__label
                    label Имя пользователя
                .input-group__input
                    input.input(type="text")
        .form__group
            .form__group-col
                .input-group__label
                    label Электронная почта
                .input-group__input
                    input.input(type="email")
            .form__group-col
                .input-group
                    .input-group__label
                        label Телефон
                    .input-group__input
                        input.input(type="tel")
        .form__group
            .form__group-col
                .input-group
                    .input-group__label
                        label Имя
                    .input-group__input
                        input.input(type="text")
            .form__group-col
                .input-group
                    .input-group__label
                        label Фамилия
                    .input-group__input
                        input.input(type="text")
        .form__row
            .input-group
                .input-group__label
                    label Текущий пароль
                .input-group__input
                    input.input(type="password")
        .form__row
            .form__button
                a.button.button_middle(href="" title="") Обновить