.pagenation
    a.pagenation__item.pagenation__item_active(href="" title="") 1
    a.pagenation__item(href="" title="") 2
    a.pagenation__item(href="" title="") ...
    a.pagenation__item(href="" title="") 255
    .pagenation__button
        .button.button_middle
            a.link-full(href="" title="")
            .button__name Показать еще
            .button__icon
                i.icon.icon-reload