doctype html
html
    head
        meta(charset="utf-8")

.category Общие
    a.link-test(href="http://website-studio.moscow/Too-shop/html/index/index.html") Главная
    a.link-test(href="http://website-studio.moscow/Too-shop/html/entrance/entrance.html") Вход
    a.link-test(href="http://website-studio.moscow/Too-shop/html/registration/registration.html") Регистрация
    a.link-test(href="http://website-studio.moscow/Too-shop/html/FAQ/FAQ.html") FAQ
    a.link-test(href="http://website-studio.moscow/Too-shop/html/help/help.html") Помощь
    a.link-test(href="http://website-studio.moscow/Too-shop/html/news/news.html") Новости
    a.link-test(href="http://website-studio.moscow/Too-shop/html/rules/rules.html") Правила
    a.link-test(href="http://website-studio.moscow/Too-shop/html/categories/categories.html") Категории
    a.link-test(href="http://website-studio.moscow/Too-shop/html/category/category.html") Категория
    a.link-test(href="http://website-studio.moscow/Too-shop/html/auctions/auctions.html") Аукционы
    a.link-test(href="http://website-studio.moscow/Too-shop/html/auction/auction.html") Аукцион
    a.link-test(href="http://website-studio.moscow/Too-shop/html/competitions/competitions.html") Конкурсы
    a.link-test(href="http://website-studio.moscow/Too-shop/html/competition/competition.html") Конкурс
    a.link-test(href="http://website-studio.moscow/Too-shop/html/products/products.html") Товары
    a.link-test(href="http://website-studio.moscow/Too-shop/html/product/product.html") Товар
    a.link-test(href="http://website-studio.moscow/Too-shop/html/saerch/saerch.html") Результаты поиска
    a.link-test(href="http://website-studio.moscow/Too-shop/html/closed/closed.html") Закрытые конкурсы/аукционы
.category Пользовательские
    a.link-test(href="http://website-studio.moscow/Too-shop/html/user/user.html") Пользователь
    a.link-test(href="http://website-studio.moscow/Too-shop/html/user-profile/user-profile.html") Профиль
    a.link-test(href="http://website-studio.moscow/Too-shop/html/user-favorites/user-favorites.html") Избранное
    a.link-test(href="http://website-studio.moscow/Too-shop/html/user-auctions/user-auctions.html") Мои аукционы
    a.link-test(href="http://website-studio.moscow/Too-shop/html/user-competitions/user-competitions.html") Мои конкурсы
    a.link-test(href="http://website-studio.moscow/Too-shop/html/user-products/user-products.html") Мои товары
    a.link-test(href="http://website-studio.moscow/Too-shop/html/user-auctions-edit/user-auctions-edit.html") Редактирование/добавление аукциона
    a.link-test(href="http://website-studio.moscow/Too-shop/html/user-competition-edit/user-competition-edit.html") Редактирование/добавление конкурса
    a.link-test(href="http://website-studio.moscow/Too-shop/html/user-product-edit/user-product-edit.html") Редактирование/добавление товара



style.
    .link-test {
        display: block;
        font-size: 22px;
        color: cadetblue;
        margin: 5px auto;
        text-align: center;
        text-decoration: none;
    }
    .category {
        font-family: sans-serif;
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
    }