.section__header
    h2.title Правила
.text-block
    h3.title-secondary Раздел
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, alias aliquid, arch
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, alias aliquid, architecto autem beatae commodi cum deleniti dolore eaque eligendi eveniet harum illo modi molestias nihil pariatur quibusdam sed unde.
    ul
        li Lorem ipsum
        li Lorem ipsum
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque deleniti doloremque dolorum modi quisquam rem repellendus veniam. Adipisci eum quae ratione recusandae velit! Doloribus ducimus eaque esse minus odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquam assumenda aut delectus, distinctio doloribus ea id in iure laudantium, magni maxime molestiae sapiente sequi similique tempora tenetur ullam!
    ol
        li Lorem ipsum
        li Lorem ipsum
        li Lorem ipsum
    p
    h3.title-secondary Раздел
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, alias aliquid, arch
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, alias aliquid, architecto autem beatae commodi cum deleniti dolore eaque eligendi eveniet harum illo modi molestias nihil pariatur quibusdam sed unde.
    ul
        li Lorem ipsum
        li Lorem ipsum
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    p Lorem ipsum dolor sit amet, consect
    p
    h3.title-secondary Раздел
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur esse eum ex, explicabo fugit labore maxime minima nihil numquam omnis porro quis quos rerum sunt vel velit veniam voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem delectus dolore dolorem, ducimus eius esse fuga id labore maxime minus natus nesciunt obcaecati quibusdam rem sapiente sed voluptas voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur assumenda at consectetur consequatur consequuntur dolor dolores dolorum earum et id molestias provident quae quasi, rem rerum saepe ut voluptatum!