.pagenation
  +flex(row wrap, center, center)
  margin: -1rem 0
  &__item
    +flex(row wrap, center, center)
    +font(12px, 400, $gray)
    background-color: white
    width: 4rem
    height: 4rem
    margin-right: 1px
    &:hover
      background-color: #ffe9e7
    &_active
      background-color: #ffe9e7
      cursor: default
  &__button
    padding: 1rem 5rem