extends ../layout/layout
block title
    | catalog
block head
    script(src="../../scripts/select/select.js" async="")
block content
    .inner
        include  braedcrumbs/braedcrumbs1
        include popups/popup1
        include product-list/product-list1
block end
    script(src="../../scripts/grid-view/grid-view.js" async="")
