section.section.section_block.section_bg-light
    .inner
        .section__header
            h2.title Избранное
            .subtitle Отобранное вами
        .grid.grid_auto
            .product-preview
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .button-mini
                                a.link-full(href="" title="")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                .product-preview__content
                    .product-preview__title Converse All-Stars sneakers
            .product-preview
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .button-mini
                                a.link-full(href="" title="")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                .product-preview__content
                    .product-preview__title Converse All-Stars sneakers
            .product-preview
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .button-mini
                                a.link-full(href="" title="")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                .product-preview__content
                    .product-preview__title Converse All-Stars sneakers
            .product-preview
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .button-mini
                                a.link-full(href="" title="")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                .product-preview__content
                    .product-preview__title Converse All-Stars sneakers
            .product-preview
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .button-mini
                                a.link-full(href="" title="")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                .product-preview__content
                    .product-preview__title Converse All-Stars sneakers
            .product-preview
                a.link-full(href="" title="")
                .product-preview__photo-container
                    img.product-preview__photo(src="../../img/products/product1.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                        .product-preview__top-item
                            .button-mini
                                a.link-full(href="" title="")
                                i.icon.icon-delete
                                i.icon.icon-delete-active.icon_active
                .product-preview__content
                    .product-preview__title Converse All-Stars sneakers