section.section.section_block.section_bg-light
    .inner
        .section__header
            h2.title Конкурсы
            .subtitle Более 1000 предложений по доступным ценам
        .grid
            .product-preview.product-preview_no-shaow
                a.link-full(href="" title="")
                .product-preview__photo-container.product-preview__photo-container_large
                    img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                            .label до 01.08
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation7")
                                label.link-full(for="like-activation7")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                    .product-preview__bottom
                        a.button.button_middle(href="" title="") Участвовать
                .product-preview__title Легкое летнее платье с поясом
                .product-preview__price #[b 2100] руб.
            .product-preview.product-preview_no-shaow
                a.link-full(href="" title="")
                .product-preview__photo-container.product-preview__photo-container_large
                    img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                            .label до 01.08
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation8")
                                label.link-full(for="like-activation8")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                    .product-preview__bottom
                        a.button.button_middle(href="" title="") Участвовать
                .product-preview__title Легкое летнее платье с поясом
                .product-preview__price #[b 2100] руб.
            .product-preview.product-preview_no-shaow
                a.link-full(href="" title="")
                .product-preview__photo-container.product-preview__photo-container_large
                    img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                            .label до 01.08
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation9")
                                label.link-full(for="like-activation9")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                    .product-preview__bottom
                        a.button.button_middle(href="" title="") Участвовать
                .product-preview__title Легкое летнее платье с поясом
                .product-preview__price #[b 2100] руб.
            .product-preview.product-preview_no-shaow
                a.link-full(href="" title="")
                .product-preview__photo-container.product-preview__photo-container_large
                    img.product-preview__photo(src="../../img/products/product2.jpg" title="" alt="")
                    .product-preview__top
                        .product-preview__top-item
                            .label до 01.08
                        .product-preview__top-item
                            .like.like_large
                                input.hidden.like__activation(type="checkbox" id="like-activation10")
                                label.link-full(for="like-activation10")
                                i.icon.icon-heart-gray
                                i.icon.icon-heart-active.icon_active
                    .product-preview__bottom
                        a.button.button_middle(href="" title="") Участвовать
                .product-preview__title Легкое летнее платье с поясом
                .product-preview__price #[b 2100] руб.