.header-mobile__fixed
    label(for="header-mobile-activation")
        i.icon.icon-menu
    .header-mobile__logo
        a(href="#" title="")
            img.header-mobile__logo-img(src="../../img/logo-white.png" alt="" title="")
        .header-mobile__title
            .header-mobile__logo-title
                span.light TOO
                span.extrabold SHOP
            .header-mobile__logo-subtitle аукцион это просто
    a(href="" title="")
        i.icon.icon-heart-white
            span.header-main__product-count.header-main__product-count_inverse 2
input.hidden.header-mobile__deactivation(type="radio" id="header-mobile-deactivation" name="header-mobile-activation")
input.hidden.header-mobile__activation(type="radio" id="header-mobile-activation" name="header-mobile-activation")
.header-mobile
    .header-mobile__top
        .header-mobile__icon
            i.icon.icon-search
        .header-mobile__search
            input.search.search_mobile(type="search" placeholder="Я ищу...")
        .header-mobile__icon
            a.header-mobile__icon-link(href="#" title="")
                i.icon.icon-home
        //.header-mobile__icon
        //    a.header-mobile__icon-link(href="#" title="")
        //        i.icon.icon-heart
        .header-mobile__icon
            label.header-mobile__close(for="header-mobile-deactivation")
    .header-mobile__menu-inner
        nav.header-mobile__menu
            .header-mobile__menu-item.header-mobile__menu-item_unfolding Категории
                input.hidden.header-mobile__submenu-activation(type="radio" id="header-mobile-submenu-activation" name="header-mobile-activation")
                label.link-full(for="header-mobile-submenu-activation")
                .header-mobile__sub-menu-container
                    .header-mobile__top
                        label.header-mobile__back(for="header-mobile-activation")
                        .header-mobile__sub-menu-title Категории
                        label.header-mobile__close(for="header-mobile-deactivation")
                    .header-mobile__menu-inner
                        nav.header-mobile__menu
                            .header-mobile__menu-item Женская одежда и аксессуары
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Мужская одежда
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Детская одежда
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Одежда и обувь
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Все для отпуска
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Материалы для ремонта
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Спорт и хобби
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Бижутерия и часы
                                a.link-full(href="" title="")
            .header-mobile__menu-item Магазин
            .header-mobile__menu-item Аукционы
            .header-mobile__menu-item Конкурсы
            .header-mobile__menu-item Я ищу
            .header-mobile__menu-item Правила
            .header-mobile__menu-item Помощь
            .header-mobile__menu-item.header-mobile__menu-item_autoriztion
                .header-mobile__menu-item-image
                    i.icon.icon-registration
                .header-mobile__menu-item-text Регистрация
                a.link-full(href="" title="")
            .header-mobile__menu-item.header-mobile__menu-item_autoriztion
                .header-mobile__menu-item-image
                    i.icon.icon-login
                .header-mobile__menu-item-text Вход
                a.link-full(href="" title="")
            .header-mobile__menu-item.header-mobile__menu-item_user.header-mobile__menu-item_unfolding
                input.hidden.header-mobile__submenu-activation(type="radio" id="header-mobile-submenu-activation2" name="header-mobile-activation")
                label.link-full(for="header-mobile-submenu-activation2")
                .header-mobile__sub-menu-container
                    .header-mobile__top
                        label.header-mobile__back(for="header-mobile-activation")
                        .header-mobile__sub-menu-title Категории
                        label.header-mobile__close(for="header-mobile-deactivation")
                    .header-mobile__menu-inner
                        nav.header-mobile__menu
                            .header-mobile__menu-item Избранное
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Мои товары
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Мои конкурсы
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Мои аукционы
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Мои запросы
                                a.link-full(href="" title="")
                            .header-mobile__menu-item Профиль
                                a.link-full(href="" title="")
                .header-mobile__menu-item-image
                    img.person__photo.person__photo_small(src="../../img/user.jpg" title="" alt="")
                .header-mobile__menu-item-text Личный кабинет
            .header-mobile__menu-item.header-mobile__menu-item_user
                .header-mobile__menu-item-image
                    i.icon.icon-logout
                .header-mobile__menu-item-text Выход
                a.link-full(href="" title="")
        .header-mobile__lang
            .header-top__lang
                a.header-top__lang-item.header-top__lang-item_active(href="" title="") RU
                a.header-top__lang-item(href="" title="") EN
        nav.header-mobile__menu-secondary
            .header-mobile__menu-secondary-col
                .header-mobile__menu-secondary-item Гид покупателям
                    a.link-full(href="" title="")
                .header-mobile__menu-secondary-item Защита Покупателя
                    a.link-full(href="" title="")
                .header-mobile__menu-secondary-item Карта TOOSHOP
                    a.link-full(href="" title="")
            .header-mobile__menu-secondary-col
                .header-mobile__menu-secondary-item Служба поддержки
                    a.link-full(href="" title="")
                .header-mobile__menu-secondary-item Партнерская программа
                    a.link-full(href="" title="")
                .header-mobile__menu-secondary-item Договор оказания услуг
                    a.link-full(href="" title="")
