.brands
  &__item
    +flex(row nowrap, flex-start, center)
    position: relative
    min-height: 16rem
    padding: 3rem
    max-width: 36rem
    width: 100%
  &__img
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    object-fit: cover
  &__logo
    position: relative
  &__list
    +inner-grid(290px)


@import "media"